.container {
    max-width: 120rem;
    margin: auto;
    background-color: $color-grey-dark;
    height: 100%;
    
    min-height: 50rem;
    box-shadow: 0 2rem 6rem rgba(0, 0, 0, .3);

    @media only screen and (max-width: $bp-largest) {
        margin: 0;
        max-width: 100%;
        width: 100%;
    }
}