.header {
    font-size: 1.4rem;
    height: 7rem;
    background-image: linear-gradient(to right, $color-primary-dark, $color-primary-light);
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .logo {
        margin-left: 2rem;
        font-size: 3rem;
    }
}