.list-item {

    &__column {
        display: flex;
        flex-direction: column;
    }

    &__label {
        text-transform: uppercase;
        color: #9e9e9e;
        margin-bottom: 0.5rem;
        font-size: 1.2rem;
    }

    &__text {
        color: #fff;
        font-size: 1.4rem;
    }
}