.view {
    flex: 1;
    padding: 2rem;


    &__header {
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1.5rem;
    }

    &__header-place {
        display: flex;
        align-items: center;
    }

    &__header-icon {
        width: 1.75rem;
        height: 1.75rem;
        fill: $color-white;
        margin-right: 2rem;
    }

    &__header-text {
        font-size: 1.4rem;
        color: $color-white;
        text-transform: uppercase;
    }

    &__body {
        & > *:not(:last-child) {
            margin-bottom: 1.5rem;
        }
        margin-bottom: 1.5rem;
    }
}