.btn {
    padding: 1rem 3rem 1rem 2.5rem;
    border-radius: 2rem;
    text-decoration: none;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    width: fit-content;
    cursor: pointer;
    user-select: none;
    outline: 0px transparent;
    color: $color-white;
    background-color: transparent;

    &__icon {
        width: 1.75rem;
        height: 1.75rem;
        fill: $color-white;
        margin-right: 1rem;
    }

    &--primary {
        border: 1px solid $color-primary-dark;

        &:hover {
            background-image: linear-gradient(to right, $color-primary-dark, $color-primary-light);
            background-size: cover;
            background-repeat: no-repeat;
        }
    }

    &--alert {
        border: 1px solid $color-alert;

        &:hover {
            background-image: linear-gradient(to right, $color-alert-dark, $color-alert);
            border: 1px solid $color-alert-dark;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
}
