.contact {
    background-color: $color-grey-light;
    color: $color-white;
    font-size: 1.4rem;
    display: flex;
    border-radius: 5px;

    display: flex;

    &__info {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-self: stretch;
        padding: 0 3rem;
    }

    &__user {
        display: flex;
        align-items: center;
    }

    &__user-photo {
        height: 3rem;
        border-radius: 50%;
        margin-right: 1rem;
    }

    &__info-name {
        flex-grow: 1;
        display: flex;
        align-items: center;
        border-bottom: 1px solid rgba(#9e9e9e, .2);
        font-size: 1.8rem;
    }

    &__info-data {
        flex-grow: 1;
        display: flex;
        align-items: center;
    }

    &__acton {
        align-self: stretch;
        display: flex;
        flex-direction: column;
        padding: 2rem 5rem 2rem 3rem;
        border-left: 2px dotted $color-grey-dark;
    }

    &__edit-btn {
        background-color: transparent;
        border: 1px solid $color-primary-dark;
        color: $color-white;
        padding: 1rem 3rem;
        border-radius: 2rem;
        align-self: baseline;
        margin-bottom: 2rem;
        cursor: pointer;
        user-select: none;
        display: flex;
        align-items: center;

        &:focus{
            outline: none;
        }
    }

    &__edit-btn-icon {
        width: 1.75rem;
        height: 1.75rem;
        fill: $color-white;
        margin-right: 5px;
    }

    &__acton-modify-text {
        text-transform: uppercase;
        color: #9e9e9e;
        margin-bottom: .5rem;
        font-size: 1.2rem;
    }
}