.form {
    &__title {
        background-image: linear-gradient(to right, $color-primary-dark, $color-primary-light);
        font-size: 1.8rem;
        align-items: center;
        border-radius: 5px;
        color: $color-white;
        padding: 1rem 3rem;
    }
}