.input {
    flex: 1;

    &__label {
        color: $color-white;
        font-size: 1.4rem;
        text-transform: uppercase;
        padding-left: 1.5rem;
    }

    &__input {
        background-color: $color-grey-light;
        border-radius: 5px;
        border: none;
        border-bottom: 3px solid transparent;
        width: 100%;
        font-family: inherit;
        padding: 1.3rem 1.5rem 1rem 1.5rem;
        color: $color-white;
        font-size: 1.4rem;
        margin: .5rem 0;
        outline: 0px transparent;
        resize: none;

        &:hover, &:focus {
            border-bottom: 3px solid rgba($color-white, .2);
        }

        &--error {
            border-bottom: 3px solid $color-alert;
        }
    }

    &__error {
        display: flex;
        justify-content: flex-end;
        font-size: 1.4rem;
        padding-right: 1.5rem;
        color: $color-alert;
    }
}