.load-layout {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 500;
    backdrop-filter: blur(3px) contrast(65%);

    &__center {
        background-color: $color-grey-light;
        border-radius: 1rem;
        box-shadow: 0 3rem 6rem rgba($color-black, 0.2);
    }

    &__icon {
        margin: auto;
        display: block;
        width: 20rem;
        height: 20rem;
    }
}