.notification {
    background-color: $color-grey-light;
    color: $color-white;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    border-radius: 5px;
    height: 4.2em;
    padding: 0 3rem;

    &__title {
        display: flex;
        flex: 0 0 25%;
    }

    &__status {
        margin-right: 1rem;

        &--new {
            background-color: $color-alert;
            padding: 4px;
            border-radius: 5px;
        }
    }

    &__subject {
        margin-right: auto;
    }
}