.order-item {
    background-color: $color-grey-light;
    display: flex;
    align-items: center;
    border-radius: 5px;

    &__name {
        display: flex;
        flex: 0 0 50%;
        padding: 2rem 3rem;
        font-size: 1.8rem;
        color: $color-white;
        border-right: 2px dotted $color-grey-dark;
    }

    &__price {
        display: flex;
        flex: 0 0 25%;
        padding: 2rem 3rem;
        font-size: 1.6rem;
        color: #9e9e9e;
        border-right: 2px dotted $color-grey-dark;
    }

    &__quantity {
        display: flex;
        flex: 0 0 25%;
        font-size: 1.6rem;
        color: #9e9e9e;
        padding: 2rem 3rem;
    }
}