.pagination {
    display: inline-flex;
    align-items: center;

    background-color: $color-grey-light;
    border-radius: 5px;

    &__fromto {
        color: $color-white;
        font-size: 1.6rem;
        padding: 1rem 3rem;
    }

    &__number {
        color: $color-white;
        font-size: 1.6rem;
        padding: 1rem 3rem;
        border-left: 2px dotted $color-grey-dark;
        border-right: 2px dotted $color-grey-dark;
    }

    &__list {
        display: flex;
        align-items: center;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    &__link {
        text-decoration: none;
    }
    
    &__item {
        padding: 0 2rem;
    }

    &__icon {
        width: 2rem;
        height: 2rem;
        fill: $color-white;
        
        &:hover {
            fill: #30c8e6;
        }
    }
}