.panel {
    font-size: 1.6rem;
    color: $color-white;

    &__header {
        background-image: linear-gradient(to right, $color-primary-dark, $color-primary-light);
        background-size: cover;
        background-repeat: no-repeat;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        padding: 1rem 3rem;
        color: #fff;
        font-size: 1.8rem;
    }

    &__body {
        background-color: $color-grey-light;
    }

    &__row {
        display: flex;
        flex-direction: row;
        padding: 1rem 3rem;

        &:not(:last-child) {
            border-bottom: 2px dotted $color-grey-dark;
        }
    }

    &--center {
        display: flex;
        align-items: center;
    }

    &--white {
        color: #9e9e9e;
    }

    @for $i from 1 through 7 {
        &--column-#{$i} {
            flex: #{$i};
        }
    }   
}