.popup-window {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 500;
    backdrop-filter: blur(3px) contrast(65%);

    &__center {
        background-color: $color-grey-light;
        border-radius: 1rem;
        max-width: 36rem;
        box-shadow: 0 3rem 6rem rgba($color-black, 0.2);
        overflow: hidden;
    }

    &__header {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 9rem;
        background-image: linear-gradient(to right, $color-alert-dark, $color-alert);
        background-size: cover;
        background-repeat: no-repeat;
        border-bottom-left-radius: 50% 5rem;
        border-bottom-right-radius: 50% 5rem;
    }
    
    &__body {
        margin-top: 7rem;
        margin-bottom: auto;
    }
    
    &__footer {
        display: flex;
        padding: 3rem;
        justify-content: space-between;
    }

    &__icon-wrapper {
        margin-top: 2rem;
        width: 11rem;
        height: 11rem;
        border: 0.5rem solid $color-white;
        border-radius: 50%;
        background-color: rgba($color-white, .5);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__icon {
        width: 6rem;
        height: 6rem;
        fill: $color-white;
    }

    &__primary-text {
        display: flex;
        justify-content: center;
        color: $color-white;
        font-size: 2.5rem;
        text-transform: uppercase;
        font-weight: 700;
    }
    
    &__secundary-text {
        display: flex;
        justify-content: center;
        margin-top: 3rem;
        color: $color-white;
        padding: 0 2rem;
        font-size: 1.8rem;
        font-weight: 400;
    }
}