.rate {
    display: flex;
    align-items: center;

    &__star {
        width: 2rem;
        height: 2rem;
        fill: $color-grey-dark;
    }

    &__stars {
        &--1 {
            & > :nth-child(-n + 1) {
                fill: $color-primary-dark;
            }
        }

        &--2 {
            & > :nth-child(-n + 2) {
                fill: $color-primary-dark;
            }
        }

        &--3 {
            & > :nth-child(-n + 3) {
                fill: $color-primary-dark;
            }
        }

        &--4 {
            & > :nth-child(-n + 4) {
                fill: $color-primary-dark;
            }
        }

        &--5 {
            & > * {
                fill: $color-primary-dark;
            }
        }
    }

    &__average {
        font-size: 2.25rem;
        font-weight: 300;
        margin-left: 1rem;
    }
}