.read-only {
    display: flex;
    background-color: $color-grey-light;
    border-radius: 5px;

    &__name {
        flex: 1;
        padding: 2rem 3rem;
        color: $color-white;
        font-size: 1.8rem;
    }

    &__value {
        flex: 5;
        display: flex;
        align-items: center;
        padding-left: 3rem;
        border-left: 2px dotted $color-grey-dark;
        color: #9e9e9e;
        font-size: 1.6rem;
    }
}