.search {
    flex: 0 0 40%;
    display: flex;
    align-items: center;
    justify-content: center;

    &__input {
        font-size: 1.4rem;
        color: $color-white;
        background-color: $color-grey-light;
        border: none;
        padding: .7rem 2rem;
        border-radius: 1rem;
        width: 90%;
        transition: all .2s;
        margin-right: -3.25rem;
        
        &:focus {
            outline: none;
            width: 100%;
            background-color: $color-grey-light;
        }
    }
    
    &__button {
        border: none;
        background-color: $color-grey-light;

        &:focus {
            outline: none;
        }

        &:active {
            transform: translateY(2px);
        }
    }
    
    &__icon {
        height: 2rem;
        width: 2rem;
        fill: $color-white;
    }
}