.side-nav {
    font-size: 1.4rem;
    list-style: none;
    margin-top: 3.5rem;

    &__item {
        position: relative;
    }

    &__item::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 3px;
        background-image: linear-gradient(to right, $color-primary-dark, $color-primary-light);
        background-size: cover;
        background-repeat: no-repeat;
        transform: scaleY(0);
        transition: transform .2s,
            width .4s cubic-bezier(1,0,0,1) .2s;
    }

    &__item:hover::before, &__item--active::before {
        transform: scaleY(1);
        width: 100%;
    }

    &__link:link, &__link:visited {
        color: $color-white;
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        padding: 1.5rem 3rem;
        position: relative;
        z-index: 10;

        display: flex;
        align-items: center;
    }
    
    &__icon {
        width: 1.75rem;
        height: 1.75rem;
        margin-right: 2rem;
        fill: currentColor;
    }
}