.toggle-switch {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 36px;

    &__checkbox {
        opacity: 0;
        width: 0;
        height: 0;
    }

    &__slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $color-grey-light;
        transition: .4s;
        border-radius: 34px;
        border: 1px solid #30c8e6;

        &:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: $color-white;
            -webkit-transition: .3s;
            transition: .3s;
            border-radius: 50%;
        }
    }

    &__checkbox:checked + &__slider {
        background-image: linear-gradient(to right, $color-primary-dark, $color-primary-light);
        background-size: cover;
        background-repeat: no-repeat;
    }

    &__checkbox:checked + &__slider:before {
        -webkit-transform: translateX(34px);
        -ms-transform: translateX(34px);
        transform: translateX(34px);
    }
}