.user-nav {
    display: flex;
    align-items: center;

    align-self: stretch;

    & > * {
        padding: 0 2rem;
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;
    }

    &__icon-box {
        position: relative;
    }

    &__icon {
        height: 2.2rem;
        width: 2.2rem;
        fill: $color-white;
    }

    &__notification {
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        line-height: 1.6;
        font-size: .8rem;
        height: 1.70rem;
        width: 1.70rem;
        border-radius: 50%;
        background-color: #e84c3d;
        color: #fff;
        position: absolute;
        top: 1.5rem;
        right: 1.1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    & > *:hover {
        background-color: rgba($color-black, .1);
    }

    &__user-photo {
        height: 5rem;
        border-radius: 50%;
        margin-right: 1rem;
    }
}
