$color-primary-light: #42d9b4;
$color-primary-dark: #30c8e6;

$color-grey-light: #323841;
$color-grey-dark: #222731;

$color-white: #fff;
$color-black: #000;

$color-alert: #e84c3d;
$color-alert-dark: #a13736;

$bp-largest: 75em;
$bp-large: 68.75em;
$bp-medium: 56.25em;
$bp-small: 37.5em;
$bp-smallest: 31.25em;