.order-finish {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    background-color: #fff;
    border-radius: 3px;
    padding: 7rem 3rem;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

    &__paragraph {
        font-size: 1.6rem;
        color: $color-grey-dark;

        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }

    &__icon-border {
        width: 11rem;
        height: 11rem;
        border: .5rem solid $color-primary-light;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__icon {
        width: 9rem;
        height: 9rem;
        fill: $color-primary-light;
    }

    &__primary {
        padding: 2rem 0;
        font-size: 3.5rem;
        text-transform: uppercase;
        font-weight: 400;
        color: $color-grey-dark;
    }
}