.section-help {
    margin-top: -10rem;
    padding: 10rem 0 15rem 0;
    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
        padding: 20rem 0 15rem 0;
    }
    background-color: $color-white;

    @include respond(tab-port) {
        padding: 10rem 0 10rem 0;
    }
}

.section-detail {
    padding: 10rem 0;
    background-size: cover;
    background-position: bottom;
    background-image: linear-gradient(
        to right,
        rgba($color-primary-light, 0.85),
        rgba($color-primary-dark, 0.85)),
        url(../img/header-road.jpg);
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
        transform: skewY(-3deg);

        & > * {
            transform: skewY(3deg);
        }
    }

    @include respond(tab-port) {
        padding: 5rem 0;
    }
}

.main {
    margin-bottom: -6rem;
}