<template>
    <div>
        <nav-toggle />
        <header class="secondary-header">
            <navbar />
        </header>
        <main class="main">
            <div class="container">
                <div class="basket-progress">
                    <ol class="basket-progress__steps">
                        <li class="basket-progress__step"
                            v-bind:class="{
                            'basket-progress__step--activ': page === 1,
                            'basket-progress__step--finish': page > 1}">
                            <div class="basket-progress__label">Kosár tartalma</div>
                        </li>
                        <li class="basket-progress__step"
                            v-bind:class="{
                            'basket-progress__step--activ': page === 2,
                            'basket-progress__step--finish': page > 2}">
                            <div class="basket-progress__label">Személyes adatok</div>
                        </li>
                        <li class="basket-progress__step"
                            v-bind:class="{ 'basket-progress__step--activ': page === 3 }">
                            <div class="basket-progress__label">Köszönjük!</div>
                        </li>
                    </ol>
                    <div class="basket-progress__bar"></div>
                    <div class="basket-progress__bar-s"
                         v-bind:class="{
                         'basket-progress__bar-s--active-1': page === 2,
                         'basket-progress__bar-s--active-2': page === 3}"></div>
                </div>
                <div class="basket-form">
                    <div class="basket-section">
                        <div class="basket-section__header">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="basket-section__icon">
                                <path d="M13 17c0 1.104 0.894 2 2 2 1.104 0 2-0.896 2-2 0-1.106-0.896-2-2-2-1.106 0-2 0.894-2 2zM3 17c0 1.104 0.895 2 2 2 1.103 0 2-0.896 2-2 0-1.106-0.897-2-2-2-1.105 0-2 0.894-2 2zM6.547 12.172l11.068-3.162c0.211-0.061 0.385-0.289 0.385-0.51v-5.5h-14v-1.6c0-0.22-0.181-0.4-0.399-0.4h-3.202c-0.219 0-0.399 0.18-0.399 0.4v1.6h2l1.91 8.957 0.090 0.943v1.649c0 0.219 0.18 0.4 0.4 0.4h13.2c0.22 0 0.4-0.182 0.4-0.4v-1.549h-11.248c-1.15 0-1.174-0.551-0.205-0.828z"></path>
                            </svg>
                            <span>Kosár tartalma</span>
                        </div>
                        <div class="basket-section__body" v-if="page === 1">
                            <basket-items />
                        </div>
                    </div>
                    <div class="basket-section">
                        <div class="basket-section__header">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="basket-section__icon">
                                <path d="M19.4 9h-3.4v-3.4c0-0.6-0.4-0.6-1-0.6s-1 0-1 0.6v3.4h-3.4c-0.6 0-0.6 0.4-0.6 1s0 1 0.6 1h3.4v3.4c0 0.6 0.4 0.6 1 0.6s1 0 1-0.6v-3.4h3.4c0.6 0 0.6-0.4 0.6-1s0-1-0.6-1zM7.4 9h-6.8c-0.6 0-0.6 0.4-0.6 1s0 1 0.6 1h6.8c0.6 0 0.6-0.4 0.6-1s0-1-0.6-1zM7.4 14h-6.8c-0.6 0-0.6 0.4-0.6 1s0 1 0.6 1h6.8c0.6 0 0.6-0.4 0.6-1s0-1-0.6-1zM7.4 4h-6.8c-0.6 0-0.6 0.4-0.6 1s0 1 0.6 1h6.8c0.6 0 0.6-0.4 0.6-1s0-1-0.6-1z"></path>
                            </svg>
                            <span>Személyes adatok</span>
                        </div>
                        <div class="basket-section__body" v-if="page === 2">
                            <contact-form />
                        </div>
                    </div>
                    <div class="basket-section">
                        <div class="basket-section__header">Megrendelés</div>
                        <div class="basket-section__body" v-if="page === 3">
                            <span>Név</span>
                        </div>
                    </div>
                    <div class="basket-form__footer">
                        <button @click="pagePrev()" class="basket-form__btn basket-form__btn--prev">Vissza</button>
                        <button @click="pageNext()" class="basket-form__btn basket-form__btn--next" v-if="page !== 3">Tovább</button>
                        <button @click="buy()" class="basket-form__btn basket-form__btn--next" v-if="page === 3">Megrendelés</button>
                    </div>
                </div>
            </div>
        </main>
        <Footer />
    </div>
</template>

<script>
    import BasketItems from '../components/basket/BasketItems';
    import ContactForm from '../components/ContactForm';
    import Footer from '../components/Footer';
    import NavToggle from '../components/NavToggle';
    import Navbar from '../components/Navbar';

    export default {
        name: 'BasketPage',

        data() {
            return {
                page: 1,
                pageMin: 1,
                pageMax: 3
            };
        },

        methods: {
            pagePrev() {
                if (this.page > this.pageMin) {
                    this.page--;
                }
            },
            pageNext() {
                if (this.page < this.pageMax) {
                    this.page++;
                }
            },
            async buy() {
                const contact = await this.storeContact();

                if (contact === false) {
                    /* Hiba történt oldalra irányítás */
                    this.$router.push('/rendeles-vege');
                }

                let fd = new FormData();
                fd.append('contact_id', contact.contact_id);
                fd.append('price', this.$store.getters.basketPrice);
                fd.append('viewed', 0);

                const order = await this.storeOrder(fd);

                await this.storeOrderItems(order.order_id);

                this.$router.push('/rendeles-vege');
            },
            async storeContact() {
                let result = false;

                await axios.post('/api/contacts', this.$store.getters.contact).then(response => {
                    result = response.data.data;
                }).catch(errors => { });

                return result;
            },
            async storeOrder(fd) {
                let result = false;

                await axios.post('/api/orders', fd).then(response => {
                    result = response.data.data;
                }).catch(errors => { });

                return result;
            },
            async storeOrderItems(order_id) {
                const products = this.$store.getters.basketProducts;

                for (const i in products) {
                    const product = products[i];

                    let fd = new FormData();
                    fd.append('order_id', order_id);
                    fd.append('product_id', product.id);
                    fd.append('quantity', product.quantity);

                    await this.storeOrderItem(fd);
                }
            },
            async storeOrderItem(fd) {
                await axios.post('/api/order-items', fd).then(response => {
                }).catch(errors => { });
            }
        },

        components: {
            BasketItems,
            ContactForm,
            Footer,
            NavToggle,
            Navbar
        }
    }
</script>