<template>
    <div>
        <nav-toggle />
        <header class="header">
            <navbar />
            <div class="container">
                <div class="header__text-box">
                    <h1 class="heading-primary">
                        <span class="heading-primary--main">dietegeszsegedre</span>
                        <span class="heading-primary--sub">Purgulyné Kreinekker Zsuzsanna vagyok, dietetikus</span>
                    </h1>
                    <a class="btn btn--white">Kérj tanácsadást</a>
                </div>
            </div>
        </header>
        <basket />
        <main class="main">
            <section class="section-help">
                <div class="container">
                    <div class="u-text-center">
                        <h2 class="heading-secundary heading-secundary--primary">ÍGY SEGÍTHET ÖNNEK IS A DIETETIKUS</h2>
                    </div>
                    <div class="row">
                        <div class="help">
                            <div class="help__header">
                                <h3 class="help__header-text">Tápláltsági állapotfelmérés</h3>
                            </div>
                            <div class="help__body">
                                <p>A különböző mérési módszerek segítségével, meghatározzuk az Ön tápláltsági állapotát, mely során egyénre szabott táplálkozási tervet állítunk össze. A táplálkozási terv információt nyújt Önnek a helyes nyersanyagválasztáshoz és a hozzá alkalmazott konyhatechnológiához.</p>
                                <p class="help__list-label">Mi ennek a folyamata?</p>
                                <ul class="help__list">
                                    <li>Táplálkozási anamnézis felvétel</li>
                                    <li>Antropometriai vizsgálatok</li>
                                    <li>BIA analízis</li>
                                    <li>1 hónapnál nem régebbi vérvételi eredményének értékelése</li>
                                </ul>
                                <div class="help__line"></div>
                                <p>45 perc, ára: 6 000 Ft</p>
                                <p>60 perc, ára: 9 000 Ft</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="help">
                            <div class="help__header">
                                <h3 class="help__header-text">Táplálkozási tanácsadás</h3>
                            </div>
                            <div class="help__body">
                                <p>Az előzőleges tápláltsági állapot felmérés után lehetőség van, hosszabb és többszöri konzultációra is, mely során Ön részletesebb információk birtokába juthat. A táplálkozási tanácsadás során recepteket is kap, melyeket otthon könnyedén hasznosíthat.</p>
                                <div class="help__line"></div>
                                <p>60 perc, ára: 6 500 Ft</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="help">
                            <div class="help__header">
                                <h3 class="help__header-text">Kontroll vizsgálat</h3>
                            </div>
                            <div class="help__body">
                                <p>A tápláltsági állapot és a (minimum kétszeri) tanácsadást követően, újbóli állapot felmérés (mely már magában foglalhatja szükség esetén az újabb vérvételt).<br>A vizsgálat célja, összehasonlítást végezni a korábbi eredményekhez képest. Illetve lehetőség van beszélgetésre is, ahol Ön elmondhatja a diéta nehezen tartható részeit és arra újbóli alternatívákat kaphat.</p>
                                <div class="help__line"></div>
                                <p>60 perc, ára: 6 000 Ft</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="help">
                            <div class="help__header">
                                <h3 class="help__header-text">Szakkonzultáció</h3>
                            </div>
                            <div class="help__body">
                                <p>Azok számára ajánlott, akik valamilyen betegségben szenvednek és a betegségük miatt szeretnének változtatni az életmódjukon. Ehhez természetesen szakember segítsége nélkülözhetetlen.<br>A szakkonzultáció magában foglalja a tápláltsági állapot felmérést és a tanácsadást is, ahol receptek birtokába is kerülhet. Természetesen a konzultációhoz a kórházi papírok elengedhetetlenek.</p>
                                <div class="help__line"></div>
                                <p>Ára: 9 000 Ft</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section-detail">
                <div class="description">
                    <div class="about">
                        <figcaption class="about__user">
                            <img src="img/kreinekker-zsuzsanna.jpg" alt="Purgulyné Kreinekker Zsuzsanna" class="about__photo" />
                            <div class="about__user-box">
                                <p class="about__user-name">Purgulyné Kreinekker Zsuzsanna</p>
                            </div>
                        </figcaption>
                        <p class="about__paragraph">Szakterület: Klinikai Dietetika és Sportdietetika Fogyókúra a Prémium Diet Orvosi Programra alapozva (tanácsadás, étrendtervezés) BIA méréssel</p>
                        <p class="about__paragraph">Tanulmányok: Dietetikus BSc. Vasile Goldis Orvosi és Gyógyszerészeti Nyugati Tudományi Egyetem Arad - Románia<br>Sport Dietetikus Posztgraduális Képzés Pécsi Egészség Tudományi Egyetem</p>
                        <p class="about__paragraph">Munkahely: 2019. szeptember-ig Debreceni Egyetem Kenézy Gyula Egyetemi Kórház</p>
                    </div>
                    <div class="reviews">
                        <figure class="review">
                            <blockquote class="review__text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </blockquote>
                        </figure>
                        <figure class="review">
                            <blockquote class="review__text">
                                Ullamcorper eget nulla facilisi etiam dignissim. Viverra adipiscing at in tellus integer feugiat scelerisque.
                            </blockquote>
                        </figure>
                    </div>
                </div>
                <a class="btn btn--white">Ismerj meg jobban</a>
            </section>
        </main>

        <Footer />
    </div>
</template>

<script>
    import Basket from '../components/Basket';
    import Footer from '../components/Footer';
    import NavToggle from '../components/NavToggle';
    import Navbar from '../components/Navbar';

    export default {
        name: 'LandingPage',

        components: {
            Basket,
            Footer,
            NavToggle,
            Navbar
        }
    }
</script> 