<template>
    <div>
        <nav-toggle />
        <header class="secondary-header">
            <navbar />
        </header>
        <main class="main">
            <div class="container">
                <div class="order-finish">
                    <div class="order-finish__icon-border">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128" class="order-finish__icon">
                            <path d="M116.158,29.336l-4.975-4.975c-3.469-3.469-9.088-3.478-12.549-0.019L48.103,74.875L29.364,56.136  c-3.459-3.46-9.078-3.45-12.549,0.021l-4.974,4.974c-3.47,3.47-3.48,9.089-0.02,12.549L41.8,103.657  c1.741,1.741,4.026,2.602,6.31,2.588c2.279,0.011,4.559-0.852,6.297-2.59l61.771-61.771  C119.637,38.424,119.631,32.807,116.158,29.336z"/>
                        </svg>
                    </div>
                    <h3 class="order-finish__primary">Sikeres vásárlás</h3>
                    <p class="order-finish__paragraph">Köszönjük a dietegeszsegedre.hu oldalon leadott rendelését!</p>
                </div>
            </div>
        </main>
        <Footer />
    </div>
</template>

<script>
    import Footer from '../components/Footer';
    import NavToggle from '../components/NavToggle';
    import Navbar from '../components/Navbar';

    export default {
        name: 'OrderFinish',

        created() {
            this.$store.commit('clearBasket');
        },

        components: {
            Footer,
            NavToggle,
            Navbar
        }
    }
</script>