<template>
    <div>
        <nav-toggle />
        <header class="secondary-header">
            <navbar />
        </header>
        <basket />
        <rate-popup v-if="rate !== null" />
        <main class="main" v-if="!loading">
            <div class="products container">
                <product v-for="product in products"
                         :key="product.data.product_id"
                         :product="product.data"
                         :rate="product.rate" />
            </div>
        </main>
        <Footer />
    </div>
</template>

<script>
    import Basket from '../components/Basket';
    import Footer from '../components/Footer';
    import Navbar from '../components/Navbar';
    import NavToggle from '../components/NavToggle';
    import Product from '../components/Product';
    import RatePopup from '../components/RatePopup';

    export default {
        name: 'Webshop',

        data() {
            return {
                loading: true,
                products: null
            };
        },

        computed: {
            rate() {
                return this.$store.getters.rate;
            }
        },

        mounted() {
            axios.get('/api/products/').then(response => {
                this.products = response.data.data;
                this.loading = false;
            }).catch(errors => {
                this.loading = false;
            });
        },

        components: {
            Basket,
            Footer,
            NavToggle,
            Navbar,
            Product,
            RatePopup
        }
    }
</script>