@charset "UTF-8";
/**
 * $breakpoint arg choices:
 * - phone
 * - tab-port
 * - tab-land
 * - big-desktop
 *
 * 1em = 16px
 */
/* ZÖLD 
$color-primary-light: #90f0b5;
$color-primary-dark: #80e5a6;
*/
/* BLUE */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
}

::-moz-selection {
  background-color: #2bd29c;
  color: #fff;
}

::selection {
  background-color: #2bd29c;
  color: #fff;
}

.btn {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 2rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
}
.btn--white {
  border: 2px solid #fff;
  color: #fff;
}
.btn--white::after {
  background-color: #fff;
}
.btn--green {
  border: 2px solid #6cba4c;
  color: #6cba4c;
}
.btn--green::after {
  background-color: #6cba4c;
}

body {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-weight: 400;
  line-height: 1.7;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  margin-bottom: 5rem;
}
.heading-primary--main {
  display: block;
  font-size: 5.5rem;
  font-weight: 400;
  letter-spacing: 2.5rem;
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-image-source: linear-gradient(to right, rgba(43, 210, 156, 0.5), rgba(169, 225, 54, 0.5));
  border-image-slice: 60 30;
  padding: 1rem;
  padding-left: 3.5rem;
  margin-bottom: 4rem;
}
@media only screen and (max-width: 56.25em) {
  .heading-primary--main {
    font-size: 3.5rem;
    letter-spacing: 2rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .heading-primary--main {
    font-size: 2.5rem;
    letter-spacing: 0.5rem;
    padding-left: 1.5rem;
  }
}
.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.5rem;
}

.heading-secundary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  letter-spacing: 0.15rem;
  text-align: center;
  margin-bottom: 6rem;
}
@media only screen and (max-width: 56.25em) {
  .heading-secundary {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .heading-secundary {
    font-size: 2.5rem;
  }
}
.heading-secundary--white {
  color: #fff;
}
.heading-secundary--primary {
  color: #484848;
}
@media only screen and (max-width: 56.25em) {
  .heading-secundary {
    margin-bottom: 3rem;
  }
}

.margin-right-small {
  margin-right: 1rem;
}

.margin-bottom-small {
  margin-bottom: 1rem;
}

.u-text-center {
  text-align: center !important;
}

.basket-item {
  display: flex;
  align-items: center;
}
.basket-item > * {
  flex: 1 1 0px;
}
.basket-item__img {
  height: 15rem;
}
.basket-item__name {
  flex: 2 1 0px;
  font-size: 1.8rem;
}
.basket-item__quantity-wrapper {
  display: flex;
  justify-content: center;
}
.basket-item__quantity {
  margin-right: 1rem;
  border-radius: 3px;
  border: 1px solid #d0d0d0;
  padding: 1rem;
  -moz-appearance: textfield;
}
.basket-item__quantity::-webkit-outer-spin-button, .basket-item__quantity::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.basket-item__price {
  font-size: 2rem;
  font-weight: 600;
  color: #2bd29c;
  display: flex;
  justify-content: center;
}
.basket-item__price::after {
  content: " Ft";
}

.basket-items__header {
  background-image: linear-gradient(to right, rgba(43, 210, 156, 0.2), rgba(169, 225, 54, 0.2));
  display: flex;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 600;
  color: #000;
  padding: 1rem 0;
}
.basket-items__header > *:first-child {
  flex: 3 1 0px;
  display: flex;
  justify-content: center;
}
.basket-items__header > *:not(:first-child) {
  flex: 1 1 0px;
  display: flex;
  justify-content: center;
}
.basket-items__footer {
  display: flex;
  justify-content: flex-end;
  background-image: linear-gradient(to right, rgba(43, 210, 156, 0.2), rgba(169, 225, 54, 0.2));
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 600;
  color: #000;
  padding: 1rem 3rem;
}
.basket-items__footer::after {
  content: " Ft";
}

.basket-form {
  position: relative;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  overflow: hidden;
}
.basket-form__footer {
  padding: 3rem;
  display: flex;
  justify-content: flex-end;
}
.basket-form__btn {
  padding: 1rem;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  border-radius: 3px;
  outline: 0px transparent;
  cursor: pointer;
}
.basket-form__btn--prev {
  color: #000;
  border: none;
  background-color: #fff;
  margin-right: 1rem;
}
.basket-form__btn--prev:hover {
  background-color: #d0d0d0;
}
.basket-form__btn--next {
  color: #fff;
  border: none;
  background-color: #2bd29c;
}

.basket-progress {
  position: relative;
  height: 3rem;
  margin-bottom: 5rem;
}
.basket-progress__steps {
  display: flex;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 48px;
  align-items: stretch;
}
.basket-progress__step {
  display: flex;
  position: relative;
  height: 6rem;
  flex: 1;
  align-items: flex-end;
  justify-content: center;
}
.basket-progress__step:after {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  background-color: #fff;
  top: -1rem;
  margin-left: -2rem;
  z-index: 2;
  content: "";
  display: block;
  position: absolute;
  left: 50%;
}
.basket-progress__step--activ:after {
  border: 0.5rem solid #a9e136;
}
.basket-progress__step--finish:after {
  background-color: #a9e136;
}
.basket-progress__bar {
  position: absolute;
  left: 16%;
  top: 0.5rem;
  width: 68%;
  height: 0.5rem;
  background-color: #fff;
}
.basket-progress__bar-s {
  position: absolute;
  left: 16%;
  top: 0.5rem;
  width: 0%;
  height: 0.5rem;
  background-color: #a9e136;
}
.basket-progress__bar-s--active-1 {
  width: 34%;
}
.basket-progress__bar-s--active-2 {
  width: 68%;
}
.basket-progress__label {
  padding-top: 1rem;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 400;
}

.basket-section__header {
  display: flex;
  align-items: center;
  background-color: #2bd29c;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1rem 3rem;
  border-bottom: 1px solid #fff;
}
.basket-section__icon {
  width: 2rem;
  height: 2rem;
  fill: #fff;
  margin-right: 1rem;
}

.btn {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 2rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
}
.btn--white {
  border: 2px solid #fff;
  color: #fff;
}
.btn--white::after {
  background-color: #fff;
}
.btn--green {
  border: 2px solid #6cba4c;
  color: #6cba4c;
}
.btn--green::after {
  background-color: #6cba4c;
}

.contact-form {
  padding: 2rem;
}
.contact-form__row {
  display: flex;
}
.contact-form__row:not(:last-child) {
  margin-bottom: 2rem;
}
.contact-form__group {
  flex: 1;
}
.contact-form__group:not(:last-child) {
  margin-right: 2rem;
}
.contact-form__input, .contact-form__textbox {
  font-size: 1.5rem;
  font-family: inherit;
  padding: 1.5rem 2rem;
  background-color: rgba(43, 210, 156, 0.2);
  border: none;
  border-bottom: 3px solid transparent;
  width: 100%;
  display: block;
  border-radius: 3px;
  outline: 0px transparent;
  transition: all 0.3s;
}
.contact-form__input:hover, .contact-form__textbox:hover {
  border-bottom: 3px solid #d0d0d0;
}
.contact-form__input:placeholder-shown + .contact-form__label, .contact-form__textbox:placeholder-shown + .contact-form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}
.contact-form__textbox {
  resize: none;
}
.contact-form__label {
  font-size: 1.2rem;
  font-weight: 700;
  color: #484848;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
}

.form-button {
  padding: 1rem;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  border-radius: 3px;
  outline: 0px transparent;
  cursor: pointer;
  border: none;
}
.form-button--green {
  color: #fff;
  background-color: #2bd29c;
}
.form-button--orange {
  color: #fff;
  background-color: #333;
}

.help {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  font-size: 1.6rem;
  color: #484848;
  border-bottom: 4px solid;
  border-image-source: linear-gradient(to right, rgba(43, 210, 156, 0.5), rgba(169, 225, 54, 0.5));
  border-image-slice: 60 30;
  overflow: hidden;
}
@media only screen and (max-width: 37.5em) {
  .help {
    width: 90%;
  }
}
.help__header {
  padding: 1.5rem 4rem;
  background-color: #484848;
}
.help__body {
  padding: 1.5rem 4rem;
}
.help__header-text {
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  background-image: linear-gradient(to right, #a9e136, #2bd29c);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.help__list-label {
  margin-top: 1.5rem;
}
.help__list {
  list-style: none;
}
.help__list li::before {
  content: "\2022";
  padding-left: 1rem;
  padding-right: 1rem;
  color: #2bd29c;
}
.help__line {
  height: 1px;
  width: 100%;
  background-color: rgba(72, 72, 72, 0.2);
  margin: 1.5rem 0;
}

.product-wrapper {
  display: flex;
  flex: 0 0 33%;
  padding: 1rem;
  position: relative;
  justify-content: center;
}
@media only screen and (max-width: 56.25em) {
  .product-wrapper {
    flex: 0 0 50%;
  }
}
@media only screen and (max-width: 37.5em) {
  .product-wrapper {
    flex: 0 0 100%;
  }
}

.product {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid #d0d0d0;
  border-radius: 3px;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform 0.3s;
}
.product:hover {
  transform: translateY(-1.2rem) scale(1.02);
}
.product > * {
  width: 100%;
}
.product__img {
  width: 100%;
}
.product__name {
  font-size: 1.8rem;
  margin-bottom: auto;
}
.product__price {
  font-size: 2rem;
  font-weight: 600;
  color: #2bd29c;
  margin-top: 2rem;
}
.product__price::after {
  content: " Ft";
}
.product__shop {
  display: flex;
  height: 3.5rem;
}
.product__shop-btn {
  padding: 1rem;
  font-size: 1.6rem;
  background-color: #2bd29c;
  border: none;
  color: #fff;
  display: flex;
  align-items: center;
  border-radius: 3px;
}
.product__shop-btn-icon {
  height: 2rem;
  width: 2rem;
  margin-right: 0.5rem;
  fill: #fff;
  height: 2rem;
}
.product__shop-input {
  margin-right: 1rem;
  border-radius: 3px;
  border: 1px solid #d0d0d0;
  padding: 1rem;
  -moz-appearance: textfield;
}
.product__shop-input::-webkit-outer-spin-button, .product__shop-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.rate-popup {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2500;
  background-image: linear-gradient(to right, rgba(169, 225, 54, 0.85), rgba(43, 210, 156, 0.85));
}
.rate-popup__center {
  background-color: #fff;
  padding: 3rem;
  font-size: 1.6rem;
  color: #484848;
  border-radius: 3px;
}
@media only screen and (max-width: 37.5em) {
  .rate-popup__center {
    width: 100%;
    border-radius: 0;
  }
}
.rate-popup__header {
  text-transform: uppercase;
}
.rate-popup__rate {
  display: flex;
  align-items: center;
}
.rate-popup__rate-star {
  width: 3.5rem;
  height: 3.5rem;
  fill: #d0d0d0;
}
.rate-popup__rate-text {
  margin-left: 1rem;
  color: #d0d0d0;
  font-size: 3rem;
}

.rate {
  display: flex;
  align-items: flex-end;
  cursor: pointer;
}
.rate__star {
  width: 1.6rem;
  height: 1.6rem;
  fill: #d0d0d0;
}
.rate__stars {
  margin-right: 0.5rem;
}
.rate__stars--1 > :nth-child(-n+1) {
  fill: #2bd29c;
}
.rate__stars--2 > :nth-child(-n+2) {
  fill: #2bd29c;
}
.rate__stars--3 > :nth-child(-n+3) {
  fill: #2bd29c;
}
.rate__stars--4 > :nth-child(-n+4) {
  fill: #2bd29c;
}
.rate__stars--5 > * {
  fill: #2bd29c;
}
.rate__average {
  font-size: 1.6rem;
  color: #2bd29c;
}

.review {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 3rem;
  margin-bottom: 3.5rem;
  position: relative;
  overflow: hidden;
  border-radius: 3px;
}
.review__text {
  z-index: 10;
  position: relative;
  font-size: 1.6rem;
  color: #484848;
}
.review::before {
  content: "\201C";
  position: absolute;
  top: -2.75rem;
  left: -1rem;
  line-height: 1;
  font-size: 20rem;
  color: rgba(204, 204, 204, 0.5);
  font-family: sans-serif;
  z-index: 1;
}

.about {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 3rem;
  flex: 0 0 60%;
  margin-right: 4.5rem;
  font-size: 1.6rem;
  color: #484848;
  border-radius: 3px;
}
@media only screen and (max-width: 37.5em) {
  .about {
    margin-right: 0;
    margin-bottom: 3rem;
  }
}
.about__paragraph:not(:last-child) {
  margin-bottom: 2rem;
}
.about__user {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(204, 204, 204, 0.5);
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}
.about__photo {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  margin-right: 1.5rem;
}
.about__user-name {
  padding-left: 2rem;
  color: inherit;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.basket__btn {
  background-color: #2bd29c;
  height: 7rem;
  width: 7rem;
  top: 11rem;
  right: 0;
  position: fixed;
  cursor: pointer;
  z-index: 2000;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  display: flex;
  flex-direction: column;
}
.basket__icon {
  height: 2.5rem;
  width: 2.5rem;
  fill: #fff;
}
.basket__price {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.container ::after, .container ::before {
  box-sizing: border-box;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
.description {
  display: flex;
  padding: 4.5rem;
  width: 120rem;
  flex-direction: row;
}
@media only screen and (max-width: 37.5em) {
  .description {
    flex-direction: column;
  }
}
@media only screen and (max-width: 75em) {
  .description {
    width: 100%;
  }
}

.footer {
  padding: 10rem 0;
  background-color: #333;
  font-size: 1.4rem;
  color: #fff;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__logo-box {
  margin-bottom: 3rem;
}
.footer__logo {
  width: 10rem;
  height: 10rem;
  fill: #a9e136;
}
.footer__navigation {
  border-top: 2px solid rgba(255, 255, 255, 0.1);
  padding-top: 2rem;
  display: inline-block;
}
.footer__list {
  list-style: none;
  display: flex;
  justify-content: center;
}
.footer__item {
  display: inline-block;
}
.footer__item:not(:last-child) {
  margin-right: 2.5rem;
}
.footer__link:link, .footer__link:visited {
  color: #d0d0d0;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  transition: all 0.2s;
}
.footer__link:hover, .footer__link:active {
  color: #a9e136;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  transform: rotate(-2deg) scale(1.3);
}
.footer__desc {
  display: flex;
  flex-direction: row;
  margin-top: 5rem;
}
.footer__desc-header {
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #a9e136;
  padding: 0 1rem;
}
.footer__office-hours td {
  padding: 0.5rem 1rem;
}

.header {
  background-blend-mode: multiply;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.6), rgba(38, 82, 79, 0.6)), url(../img/header.jpg);
  background-size: cover;
  background-position: top;
  height: 95vh;
}
@supports ((-webkit-clip-path: polygon(0 0)) or (clip-path: polygon(0 0))) or (-webkit-clip-path: polygon(0 0)) {
  .header {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  }
}
.header__text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.navbar {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
@media only screen and (max-width: 56.25em) {
  .navbar {
    border-bottom: none;
  }
}
.navbar__nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  flex-direction: row;
}
@media only screen and (max-width: 56.25em) {
  .navbar__nav {
    display: none;
  }
}
.navbar__link {
  color: #fff;
  display: block;
  padding: 4rem 2rem;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
}
.navbar__item {
  position: relative;
}
.navbar__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  transform: scaleX(0);
  transition: transform 0.2s, height 0.4s cubic-bezier(1, 0, 0, 1) 0.2s;
}
.navbar__item:hover::before, .navbar__item--active::before {
  transform: scaleX(1);
  height: 100%;
}
.navbar__link:link, .navbar__link:visited {
  position: relative;
  z-index: 10;
}
.navbar__left {
  display: flex;
}
.navbar__phone {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 56.25em) {
  .navbar__phone {
    display: none;
  }
}
.navbar__icon {
  margin-left: 5rem;
  width: 7rem;
  height: 7rem;
  fill: #fff;
}
@media only screen and (max-width: 56.25em) {
  .navbar__icon {
    margin: 2rem;
  }
}
.navbar__phone-icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: rgba(255, 255, 255, 0.8);
}
.navbar__phone-text {
  margin-left: 1rem;
  font-size: 1.4rem;
  font-weight: 400;
  color: #fff;
}

.nav-toggle {
  display: none;
}
@media only screen and (max-width: 56.25em) {
  .nav-toggle {
    display: block;
  }
}
.nav-toggle__checkbox {
  display: none;
}
.nav-toggle__button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  top: 2rem;
  right: 2rem;
  position: fixed;
  border-radius: 3px;
  z-index: 2000;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.2);
}
.nav-toggle__background {
  height: 7rem;
  width: 7rem;
  top: 2rem;
  right: 2rem;
  position: fixed;
  border-radius: 3px;
  background-image: radial-gradient(#a9e136, #2bd29c);
  z-index: 1000;
}
.nav-toggle__nav {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  display: none;
  opacity: 0;
  width: 0;
}
.nav-toggle__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.nav-toggle__link {
  position: relative;
  margin: 2rem;
  padding: 2rem;
  cursor: pointer;
  font-size: 2.5rem;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.4s;
  width: 100%;
}
.nav-toggle__link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: rgba(255, 255, 255, 0.2);
  transform: scaleX(0);
}
.nav-toggle__link:hover::before {
  transform: scaleY(1);
  width: 100%;
}
.nav-toggle__checkbox:checked ~ .nav-toggle__background {
  transform: scale(80);
}
.nav-toggle__checkbox:checked ~ .nav-toggle__nav {
  opacity: 1;
  width: 100%;
  display: block;
}
.nav-toggle__icon {
  position: relative;
  margin-top: 3.5rem;
}
.nav-toggle__icon, .nav-toggle__icon::before, .nav-toggle__icon::after {
  width: 3rem;
  height: 2px;
  background-color: #000;
  display: inline-block;
}
.nav-toggle__icon::before, .nav-toggle__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}
.nav-toggle__icon::before {
  top: -0.8rem;
}
.nav-toggle__icon::after {
  top: 0.8rem;
}

.products {
  display: flex;
  flex-wrap: wrap;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -1.4rem;
  margin-left: -1.4rem;
}
.row:not(:last-child) {
  margin-bottom: 4rem;
}
.row__1-of-2 {
  flex-direction: column;
  display: flex;
  flex: 0 0 50%;
  max-width: 50%;
}
.row__1-of-3 {
  flex-direction: column;
  display: flex;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.row__2-of-3 {
  flex-direction: column;
  display: flex;
  flex: 0 0 66.666666%;
  max-width: 66.666666%;
}

.secondary-footer {
  padding: 10rem 0;
  background-color: #333;
  font-size: 1.4rem;
  color: #fff;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.secondary-footer__logo-box {
  margin-bottom: 3rem;
}
.secondary-footer__logo {
  width: 10rem;
  height: 10rem;
  fill: #a9e136;
}
.secondary-footer__navigation {
  border-top: 2px solid rgba(255, 255, 255, 0.1);
  padding-top: 2rem;
  display: inline-block;
}
.secondary-footer__list {
  list-style: none;
}
.secondary-footer__item {
  display: inline-block;
}
.secondary-footer__item:not(:last-child) {
  margin-right: 2.5rem;
}
.secondary-footer__link:link, .secondary-footer__link:visited {
  color: #d0d0d0;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  transition: all 0.2s;
}
.secondary-footer__link:hover, .secondary-footer__link:active {
  color: #a9e136;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  transform: rotate(-2deg) scale(1.3);
}

.secondary-header {
  background-blend-mode: multiply;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.6), rgba(38, 82, 79, 0.6)), url(../img/header.jpg);
  background-size: cover;
  background-position: top;
  margin-bottom: -20rem;
  height: 45vh;
}
@supports ((-webkit-clip-path: polygon(0 0)) or (clip-path: polygon(0 0))) or (-webkit-clip-path: polygon(0 0)) {
  .secondary-header {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 35vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 35vh, 0 100%);
  }
}

.order-finish {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  background-color: #fff;
  border-radius: 3px;
  padding: 7rem 3rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}
.order-finish__paragraph {
  font-size: 1.6rem;
  color: #484848;
}
.order-finish__paragraph:not(:last-child) {
  margin-bottom: 1rem;
}
.order-finish__icon-border {
  width: 11rem;
  height: 11rem;
  border: 0.5rem solid #a9e136;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.order-finish__icon {
  width: 9rem;
  height: 9rem;
  fill: #a9e136;
}
.order-finish__primary {
  padding: 2rem 0;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 400;
  color: #484848;
}

.section-help {
  margin-top: -10rem;
  padding: 10rem 0 15rem 0;
  background-color: #fff;
}
@supports ((-webkit-clip-path: polygon(0 0)) or (clip-path: polygon(0 0))) or (-webkit-clip-path: polygon(0 0)) {
  .section-help {
    padding: 20rem 0 15rem 0;
  }
}
@media only screen and (max-width: 56.25em) {
  .section-help {
    padding: 10rem 0 10rem 0;
  }
}

.section-detail {
  padding: 10rem 0;
  background-size: cover;
  background-position: bottom;
  background-image: linear-gradient(to right, rgba(169, 225, 54, 0.85), rgba(43, 210, 156, 0.85)), url(../img/header-road.jpg);
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@supports ((-webkit-clip-path: polygon(0 0)) or (clip-path: polygon(0 0))) or (-webkit-clip-path: polygon(0 0)) {
  .section-detail {
    transform: skewY(-3deg);
  }
  .section-detail > * {
    transform: skewY(3deg);
  }
}
@media only screen and (max-width: 56.25em) {
  .section-detail {
    padding: 5rem 0;
  }
}

.main {
  margin-bottom: -6rem;
}