*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}
@media only screen and (max-width: 68.75em) {
  html {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
  background-image: linear-gradient(to right bottom, #425c65, #263340);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

#app {
  padding-top: 8rem;
}

.btn {
  padding: 1rem 3rem 1rem 2.5rem;
  border-radius: 2rem;
  text-decoration: none;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: 0px transparent;
  color: #fff;
  background-color: transparent;
}
.btn__icon {
  width: 1.75rem;
  height: 1.75rem;
  fill: #fff;
  margin-right: 1rem;
}
.btn--primary {
  border: 1px solid #30c8e6;
}
.btn--primary:hover {
  background-image: linear-gradient(to right, #30c8e6, #42d9b4);
  background-size: cover;
  background-repeat: no-repeat;
}
.btn--alert {
  border: 1px solid #e84c3d;
}
.btn--alert:hover {
  background-image: linear-gradient(to right, #a13736, #e84c3d);
  border: 1px solid #a13736;
  background-size: cover;
  background-repeat: no-repeat;
}

.contact {
  background-color: #323841;
  color: #fff;
  font-size: 1.4rem;
  display: flex;
  border-radius: 5px;
  display: flex;
}
.contact__info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-self: stretch;
  padding: 0 3rem;
}
.contact__user {
  display: flex;
  align-items: center;
}
.contact__user-photo {
  height: 3rem;
  border-radius: 50%;
  margin-right: 1rem;
}
.contact__info-name {
  flex-grow: 1;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(158, 158, 158, 0.2);
  font-size: 1.8rem;
}
.contact__info-data {
  flex-grow: 1;
  display: flex;
  align-items: center;
}
.contact__acton {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  padding: 2rem 5rem 2rem 3rem;
  border-left: 2px dotted #222731;
}
.contact__edit-btn {
  background-color: transparent;
  border: 1px solid #30c8e6;
  color: #fff;
  padding: 1rem 3rem;
  border-radius: 2rem;
  align-self: baseline;
  margin-bottom: 2rem;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: flex;
  align-items: center;
}
.contact__edit-btn:focus {
  outline: none;
}
.contact__edit-btn-icon {
  width: 1.75rem;
  height: 1.75rem;
  fill: #fff;
  margin-right: 5px;
}
.contact__acton-modify-text {
  text-transform: uppercase;
  color: #9e9e9e;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.form__title {
  background-image: linear-gradient(to right, #30c8e6, #42d9b4);
  font-size: 1.8rem;
  align-items: center;
  border-radius: 5px;
  color: #fff;
  padding: 1rem 3rem;
}

.input {
  flex: 1;
}
.input__label {
  color: #fff;
  font-size: 1.4rem;
  text-transform: uppercase;
  padding-left: 1.5rem;
}
.input__input {
  background-color: #323841;
  border-radius: 5px;
  border: none;
  border-bottom: 3px solid transparent;
  width: 100%;
  font-family: inherit;
  padding: 1.3rem 1.5rem 1rem 1.5rem;
  color: #fff;
  font-size: 1.4rem;
  margin: 0.5rem 0;
  outline: 0px transparent;
  resize: none;
}
.input__input:hover, .input__input:focus {
  border-bottom: 3px solid rgba(255, 255, 255, 0.2);
}
.input__input--error {
  border-bottom: 3px solid #e84c3d;
}
.input__error {
  display: flex;
  justify-content: flex-end;
  font-size: 1.4rem;
  padding-right: 1.5rem;
  color: #e84c3d;
}

.load-layout {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 500;
  -webkit-backdrop-filter: blur(3px) contrast(65%);
          backdrop-filter: blur(3px) contrast(65%);
}
.load-layout__center {
  background-color: #323841;
  border-radius: 1rem;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.2);
}
.load-layout__icon {
  margin: auto;
  display: block;
  width: 20rem;
  height: 20rem;
}

.notification {
  background-color: #323841;
  color: #fff;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  border-radius: 5px;
  height: 4.2em;
  padding: 0 3rem;
}
.notification__title {
  display: flex;
  flex: 0 0 25%;
}
.notification__status {
  margin-right: 1rem;
}
.notification__status--new {
  background-color: #e84c3d;
  padding: 4px;
  border-radius: 5px;
}
.notification__subject {
  margin-right: auto;
}

.order {
  background-color: #323841;
  color: #fff;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  border-radius: 5px;
  height: 4.2em;
  padding: 0 3rem;
}
.order__start {
  flex: 0 0 25%;
}
.order__price {
  margin-right: auto;
}
.order__status {
  margin-right: 1rem;
}
.order__status--new {
  background-color: #e84c3d;
  padding: 4px;
  border-radius: 5px;
}

.order-item {
  background-color: #323841;
  display: flex;
  align-items: center;
  border-radius: 5px;
}
.order-item__name {
  display: flex;
  flex: 0 0 50%;
  padding: 2rem 3rem;
  font-size: 1.8rem;
  color: #fff;
  border-right: 2px dotted #222731;
}
.order-item__price {
  display: flex;
  flex: 0 0 25%;
  padding: 2rem 3rem;
  font-size: 1.6rem;
  color: #9e9e9e;
  border-right: 2px dotted #222731;
}
.order-item__quantity {
  display: flex;
  flex: 0 0 25%;
  font-size: 1.6rem;
  color: #9e9e9e;
  padding: 2rem 3rem;
}

.pagination {
  display: inline-flex;
  align-items: center;
  background-color: #323841;
  border-radius: 5px;
}
.pagination__fromto {
  color: #fff;
  font-size: 1.6rem;
  padding: 1rem 3rem;
}
.pagination__number {
  color: #fff;
  font-size: 1.6rem;
  padding: 1rem 3rem;
  border-left: 2px dotted #222731;
  border-right: 2px dotted #222731;
}
.pagination__list {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.pagination__link {
  text-decoration: none;
}
.pagination__item {
  padding: 0 2rem;
}
.pagination__icon {
  width: 2rem;
  height: 2rem;
  fill: #fff;
}
.pagination__icon:hover {
  fill: #30c8e6;
}

.panel {
  font-size: 1.6rem;
  color: #fff;
}
.panel__header {
  background-image: linear-gradient(to right, #30c8e6, #42d9b4);
  background-size: cover;
  background-repeat: no-repeat;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 1rem 3rem;
  color: #fff;
  font-size: 1.8rem;
}
.panel__body {
  background-color: #323841;
}
.panel__row {
  display: flex;
  flex-direction: row;
  padding: 1rem 3rem;
}
.panel__row:not(:last-child) {
  border-bottom: 2px dotted #222731;
}
.panel--center {
  display: flex;
  align-items: center;
}
.panel--white {
  color: #9e9e9e;
}
.panel--column-1 {
  flex: 1;
}
.panel--column-2 {
  flex: 2;
}
.panel--column-3 {
  flex: 3;
}
.panel--column-4 {
  flex: 4;
}
.panel--column-5 {
  flex: 5;
}
.panel--column-6 {
  flex: 6;
}
.panel--column-7 {
  flex: 7;
}

.popup-window {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 500;
  -webkit-backdrop-filter: blur(3px) contrast(65%);
          backdrop-filter: blur(3px) contrast(65%);
}
.popup-window__center {
  background-color: #323841;
  border-radius: 1rem;
  max-width: 36rem;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.popup-window__header {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 9rem;
  background-image: linear-gradient(to right, #a13736, #e84c3d);
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom-left-radius: 50% 5rem;
  border-bottom-right-radius: 50% 5rem;
}
.popup-window__body {
  margin-top: 7rem;
  margin-bottom: auto;
}
.popup-window__footer {
  display: flex;
  padding: 3rem;
  justify-content: space-between;
}
.popup-window__icon-wrapper {
  margin-top: 2rem;
  width: 11rem;
  height: 11rem;
  border: 0.5rem solid #fff;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup-window__icon {
  width: 6rem;
  height: 6rem;
  fill: #fff;
}
.popup-window__primary-text {
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 700;
}
.popup-window__secundary-text {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  color: #fff;
  padding: 0 2rem;
  font-size: 1.8rem;
  font-weight: 400;
}

.product {
  background-color: #323841;
  color: #fff;
  font-size: 1.4rem;
  display: flex;
  border-radius: 5px;
}
.product__info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-self: stretch;
  padding: 0 3rem;
}
.product__info-name {
  flex-grow: 1;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(158, 158, 158, 0.2);
  font-size: 1.8rem;
}
.product__info-data {
  flex-grow: 1;
  display: flex;
  align-items: center;
}
.product__acton {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  padding: 2rem 5rem 2rem 3rem;
  border-left: 2px dotted #222731;
}
.product__edit-btn {
  background-color: transparent;
  border: 1px solid #30c8e6;
  color: #fff;
  padding: 1rem 3rem;
  border-radius: 2rem;
  align-self: baseline;
  margin-bottom: 2rem;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: flex;
  align-items: center;
}
.product__edit-btn:focus {
  outline: none;
}
.product__edit-btn-icon {
  width: 1.75rem;
  height: 1.75rem;
  fill: #fff;
  margin-right: 5px;
}
.product__acton-modify-text {
  text-transform: uppercase;
  color: #9e9e9e;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  margin-top: 2rem;
}

.read-only {
  display: flex;
  background-color: #323841;
  border-radius: 5px;
}
.read-only__name {
  flex: 1;
  padding: 2rem 3rem;
  color: #fff;
  font-size: 1.8rem;
}
.read-only__value {
  flex: 5;
  display: flex;
  align-items: center;
  padding-left: 3rem;
  border-left: 2px dotted #222731;
  color: #9e9e9e;
  font-size: 1.6rem;
}

.rate {
  display: flex;
  align-items: center;
}
.rate__star {
  width: 2rem;
  height: 2rem;
  fill: #222731;
}
.rate__stars--1 > :nth-child(-n+1) {
  fill: #30c8e6;
}
.rate__stars--2 > :nth-child(-n+2) {
  fill: #30c8e6;
}
.rate__stars--3 > :nth-child(-n+3) {
  fill: #30c8e6;
}
.rate__stars--4 > :nth-child(-n+4) {
  fill: #30c8e6;
}
.rate__stars--5 > * {
  fill: #30c8e6;
}
.rate__average {
  font-size: 2.25rem;
  font-weight: 300;
  margin-left: 1rem;
}

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search__input {
  font-size: 1.4rem;
  color: #fff;
  background-color: #323841;
  border: none;
  padding: 0.7rem 2rem;
  border-radius: 1rem;
  width: 90%;
  transition: all 0.2s;
  margin-right: -3.25rem;
}
.search__input:focus {
  outline: none;
  width: 100%;
  background-color: #323841;
}
.search__button {
  border: none;
  background-color: #323841;
}
.search__button:focus {
  outline: none;
}
.search__button:active {
  transform: translateY(2px);
}
.search__icon {
  height: 2rem;
  width: 2rem;
  fill: #fff;
}

.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem;
}
.side-nav__item {
  position: relative;
}
.side-nav__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background-image: linear-gradient(to right, #30c8e6, #42d9b4);
  background-size: cover;
  background-repeat: no-repeat;
  transform: scaleY(0);
  transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s;
}
.side-nav__item:hover::before, .side-nav__item--active::before {
  transform: scaleY(1);
  width: 100%;
}
.side-nav__link:link, .side-nav__link:visited {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding: 1.5rem 3rem;
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
}
.side-nav__icon {
  width: 1.75rem;
  height: 1.75rem;
  margin-right: 2rem;
  fill: currentColor;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 36px;
}
.toggle-switch__checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}
.toggle-switch__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #323841;
  transition: 0.4s;
  border-radius: 34px;
  border: 1px solid #30c8e6;
}
.toggle-switch__slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #fff;
  transition: 0.3s;
  border-radius: 50%;
}
.toggle-switch__checkbox:checked + .toggle-switch__slider {
  background-image: linear-gradient(to right, #30c8e6, #42d9b4);
  background-size: cover;
  background-repeat: no-repeat;
}
.toggle-switch__checkbox:checked + .toggle-switch__slider:before {
  transform: translateX(34px);
}

.user-nav {
  display: flex;
  align-items: center;
  align-self: stretch;
}
.user-nav > * {
  padding: 0 2rem;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
}
.user-nav__icon-box {
  position: relative;
}
.user-nav__icon {
  height: 2.2rem;
  width: 2.2rem;
  fill: #fff;
}
.user-nav__notification {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  font-size: 0.8rem;
  height: 1.7rem;
  width: 1.7rem;
  border-radius: 50%;
  background-color: #e84c3d;
  color: #fff;
  position: absolute;
  top: 1.5rem;
  right: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-nav > *:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.user-nav__user-photo {
  height: 5rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.container {
  max-width: 120rem;
  margin: auto;
  background-color: #222731;
  height: 100%;
  min-height: 50rem;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
}
@media only screen and (max-width: 75em) {
  .container {
    margin: 0;
    max-width: 100%;
    width: 100%;
  }
}

.content {
  display: flex;
}

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-image: linear-gradient(to right, #30c8e6, #42d9b4);
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  margin-left: 2rem;
  font-size: 3rem;
}

.list-item__column {
  display: flex;
  flex-direction: column;
}
.list-item__label {
  text-transform: uppercase;
  color: #9e9e9e;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}
.list-item__text {
  color: #fff;
  font-size: 1.4rem;
}

.view {
  flex: 1;
  padding: 2rem;
}
.view__header {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}
.view__header-place {
  display: flex;
  align-items: center;
}
.view__header-icon {
  width: 1.75rem;
  height: 1.75rem;
  fill: #fff;
  margin-right: 2rem;
}
.view__header-text {
  font-size: 1.4rem;
  color: #fff;
  text-transform: uppercase;
}
.view__body {
  margin-bottom: 1.5rem;
}
.view__body > *:not(:last-child) {
  margin-bottom: 1.5rem;
}