<template>
    <div class="container">
        <header class="header">
            <div  class="logo">XIRA</div>
            <nav class="user-nav">
                <router-link :to="{ name: 'notificationsIndex' }" class="user-nav__icon-box">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="user-nav__icon">
                        <path d="M5.8 12.2v-6.2h-3.8c-1.1 0-2 0.9-2 2v6c0 1.1 0.9 2 2 2h1v3l3-3h5c1.1 0 2-0.9 2-2v-1.82c-0.064 0.014-0.132 0.021-0.2 0.021l-7-0.001zM18 1h-9c-1.1 0-2 0.9-2 2v8h7l3 3v-3h1c1.1 0 2-0.899 2-2v-6c0-1.1-0.9-2-2-2z"></path>
                    </svg>
                    <span class="user-nav__notification" v-if="notifications > 0">{{ notifications }}</span>
                </router-link>
                <router-link :to="{ name: 'ordersIndex' }" class="user-nav__icon-box">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="user-nav__icon">
                        <path d="M13 17c0 1.104 0.894 2 2 2 1.104 0 2-0.896 2-2 0-1.106-0.896-2-2-2-1.106 0-2 0.894-2 2zM3 17c0 1.104 0.895 2 2 2 1.103 0 2-0.896 2-2 0-1.106-0.897-2-2-2-1.105 0-2 0.894-2 2zM6.547 12.172l11.068-3.162c0.211-0.061 0.385-0.289 0.385-0.51v-5.5h-14v-1.6c0-0.22-0.181-0.4-0.399-0.4h-3.202c-0.219 0-0.399 0.18-0.399 0.4v1.6h2l1.91 8.957 0.090 0.943v1.649c0 0.219 0.18 0.4 0.4 0.4h13.2c0.22 0 0.4-0.182 0.4-0.4v-1.549h-11.248c-1.15 0-1.174-0.551-0.205-0.828z"></path>
                    </svg>
                    <span class="user-nav__notification" v-if="orders > 0">{{ orders }}</span>
                </router-link>
                <div class="user-nav__user">
                    <img src="/img/xira/user.jpg" alt="User photo" class="user-nav__user-photo" />
                    <span class="user-nav__user-name">Bogyó P.</span>
                </div>
            </nav>
        </header>
        <div class="content">
            <nav class="sidebar">
                <ul class="side-nav">
                    <li class="side-nav__item">
                        <router-link to="/admin/products" class="side-nav__link">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="side-nav__icon">
                                <path d="M18.399 2h-16.799c-0.332 0-0.6 0.267-0.6 0.6v2.4h18v-2.4c0-0.333-0.27-0.6-0.601-0.6zM2 16.6c0 0.77 0.629 1.4 1.399 1.4h13.2c0.77 0 1.4-0.631 1.4-1.4v-10.6h-15.999v10.6zM7 8h6v2h-6v-2z"></path>
                            </svg>
                            <span>Termékek</span>
                        </router-link>
                    </li>
                    <li class="side-nav__item">
                        <router-link to="/admin/contacts" class="side-nav__link">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="side-nav__icon">
                                <path d="M15.989 19.129c0-2.246-2.187-3.389-4.317-4.307-2.123-0.914-2.801-1.684-2.801-3.334 0-0.989 0.648-0.667 0.932-2.481 0.12-0.752 0.692-0.012 0.802-1.729 0-0.684-0.313-0.854-0.313-0.854s0.159-1.013 0.221-1.793c0.064-0.817-0.398-2.56-2.301-3.095-0.332-0.341-0.557-0.882 0.467-1.424-2.24-0.104-2.761 1.068-3.954 1.93-1.015 0.756-1.289 1.953-1.24 2.59 0.065 0.78 0.223 1.793 0.223 1.793s-0.314 0.17-0.314 0.854c0.11 1.718 0.684 0.977 0.803 1.729 0.284 1.814 0.933 1.492 0.933 2.481 0 1.65-0.212 2.21-2.336 3.124-2.131 0.917-2.794 2.387-2.783 4.516 0.003 0.637-0.011 0.871-0.011 0.871h16c0 0-0.011-0.234-0.011-0.871zM18.528 13.365c-1.135-0.457-1.605-1.002-1.605-2.066 0-0.641 0.418-0.432 0.602-1.603 0.077-0.484 0.447-0.008 0.518-1.115 0-0.441-0.202-0.551-0.202-0.551s0.103-0.656 0.143-1.159c0.050-0.627-0.364-2.247-2.268-2.247s-2.318 1.62-2.269 2.247c0.042 0.502 0.144 1.159 0.144 1.159s-0.202 0.109-0.202 0.551c0.071 1.107 0.441 0.631 0.518 1.115 0.184 1.172 0.602 0.963 0.602 1.603 0 1.064-0.438 1.562-1.809 2.152-0.069 0.029-0.12 0.068-0.183 0.102 1.64 0.712 4.226 1.941 4.838 4.447h2.645c0 0 0-1.906 0-2.318 0-1-0.273-1.834-1.472-2.317z"></path>
                            </svg>
                            <span>Felhasználók</span>
                        </router-link>
                    </li>
                    <li class="side-nav__item">
                        <router-link to="/admin/xira-contacts" class="side-nav__link">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="side-nav__icon">
                                <path d="M15.989 19.129c0-2.246-2.187-3.389-4.317-4.307-2.123-0.914-2.801-1.684-2.801-3.334 0-0.989 0.648-0.667 0.932-2.481 0.12-0.752 0.692-0.012 0.802-1.729 0-0.684-0.313-0.854-0.313-0.854s0.159-1.013 0.221-1.793c0.064-0.817-0.398-2.56-2.301-3.095-0.332-0.341-0.557-0.882 0.467-1.424-2.24-0.104-2.761 1.068-3.954 1.93-1.015 0.756-1.289 1.953-1.24 2.59 0.065 0.78 0.223 1.793 0.223 1.793s-0.314 0.17-0.314 0.854c0.11 1.718 0.684 0.977 0.803 1.729 0.284 1.814 0.933 1.492 0.933 2.481 0 1.65-0.212 2.21-2.336 3.124-2.131 0.917-2.794 2.387-2.783 4.516 0.003 0.637-0.011 0.871-0.011 0.871h16c0 0-0.011-0.234-0.011-0.871zM18.528 13.365c-1.135-0.457-1.605-1.002-1.605-2.066 0-0.641 0.418-0.432 0.602-1.603 0.077-0.484 0.447-0.008 0.518-1.115 0-0.441-0.202-0.551-0.202-0.551s0.103-0.656 0.143-1.159c0.050-0.627-0.364-2.247-2.268-2.247s-2.318 1.62-2.269 2.247c0.042 0.502 0.144 1.159 0.144 1.159s-0.202 0.109-0.202 0.551c0.071 1.107 0.441 0.631 0.518 1.115 0.184 1.172 0.602 0.963 0.602 1.603 0 1.064-0.438 1.562-1.809 2.152-0.069 0.029-0.12 0.068-0.183 0.102 1.64 0.712 4.226 1.941 4.838 4.447h2.645c0 0 0-1.906 0-2.318 0-1-0.273-1.834-1.472-2.317z"></path>
                            </svg>
                            <span>Xira felhasználól</span>
                        </router-link>
                    </li>
                </ul>
            </nav>
            <load-layout v-if="loading" />
            <router-view></router-view>
        </div>
    </div>
</template>

<script>
    import LoadLayout from '../components/LoadLayout';

    export default {
        name: 'App',

        data() {
            return {
                loading: true,
            };
        },

        mounted() {
            axios.get('/api/notifications').then(response => {
                this.products = response.data;
                this.$store.commit('setOrders', this.products.orders);
                this.$store.commit('setNotifications', this.products.notifications);
                this.loading = false;
            }).catch(errors => {
                this.loading = false;
            });
        },

        computed: {
            orders() {
                return this.$store.getters.orders;
            },
            notifications() {
                return this.$store.getters.notifications;
            }
        },

        components: {
            LoadLayout,
        }
    }
</script>