<template>
    <div class="input">
        <label :for="name" class="input__label">{{ label }}</label>
        <input
            :id="name"
            :type="type"
            class="input__input"
            :placeholder="placeholder"
            v-model="value"
            @input="updateField()"/>
        <p class="input__error" v-text="errorMessage()">error here</p>
    </div>
</template>

<script>
    export default {
        name: 'InputField',

        props: ['name', 'type', 'label', 'placeholder', 'errors'],

        data() {
            return {
                value: ''
            }
        },

        computed: {
            hasError: function () {
                return this.errors && this.errors[this.name] && this.errors[this.name].length > 0;
            }
        },

        methods: {
            updateField() {
                this.clearErrors(this.name);
                this.$emit('update:field', this.value);
            },
            clearErrors() {
                if (this.hasError) {
                    this.errors[this.name] = null;
                }
            },
            errorMessage() {
                const requiredReg = /^The ([a-zA-z0-9_]*) field is required.$/;
                const uniqueReg = /^The ([a-zA-z0-9_]*) has already been taken.$/;

                if (this.hasError) {
                    if (requiredReg.exec(this.errors[this.name][0])) {
                        return 'Kötelező mező.';
                    } else if (uniqueReg.exec(this.errors[this.name][0])) {
                        return 'Ez az érték már foglalt, kérem adjon meg egy másikat.';
                    } else {
                        return 'Hibás mező.';
                    }
                }
            }
        },

        watch: {
            data(val) {
                this.value = val;
            }
        }
    };
</script>