<template>
    <div class="notification">
        <span class="notification__title">{{ title }}</span>
        <span v-if="status === 'true'" class="notification__status notification__status--new">Új</span>
        <span class="notification__subject">{{ subject }}</span>
        <span class="notification__datetime">{{ datetime }}</span>
    </div>
</template>

<script>
    export default {
        name: 'Notification',
        
        props: ['title', 'status', 'subject', 'datetime'],
    }
</script>