<template>
    <div class="pagination">
        <span class="pagination__fromto">{{ getFromTo() }}</span>
        <span class="pagination__number">{{ max }}</span>
        <nav class="pagination__action">
            <ul class="pagination__list">
                <li class="pagination__item">
                    <a class="pagination__link" href="#" @click="prevPage()">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="pagination__icon">
                            <path d="M12.452 4.516c0.446 0.436 0.481 1.043 0 1.576l-3.747 3.908 3.747 3.908c0.481 0.533 0.446 1.141 0 1.574-0.445 0.436-1.197 0.408-1.615 0-0.418-0.406-4.502-4.695-4.502-4.695-0.223-0.217-0.335-0.502-0.335-0.787s0.112-0.57 0.335-0.789c0 0 4.084-4.287 4.502-4.695s1.17-0.436 1.615 0z"></path>
                        </svg>
                    </a>
                </li>
                <li class="pagination__item">
                    <a class="pagination__link" href="#" @click="nextPage()">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="pagination__icon">
                            <path d="M9.163 4.516c0.418 0.408 4.502 4.695 4.502 4.695 0.223 0.219 0.335 0.504 0.335 0.789s-0.112 0.57-0.335 0.787c0 0-4.084 4.289-4.502 4.695-0.418 0.408-1.17 0.436-1.615 0-0.446-0.434-0.481-1.041 0-1.574l3.747-3.908-3.747-3.908c-0.481-0.533-0.446-1.141 0-1.576s1.197-0.409 1.615 0z"></path>
                        </svg>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</template>

<script>
    export default {
        name: 'Pagination',
        
        props: ['max'],
        
        data() {
            return {
                actPage: 0
            }
        },
        
        methods: {
            prevPage() {
                if (this.actPage > 0) {
                    this.actPage--;
                    this.$emit('update:pagination', this.actPage);
                }
            },
            nextPage() {
                if (this.actPage < Math.ceil(this.max / 5) - 1) {
                    this.actPage++;
                    this.$emit('update:pagination', this.actPage);
                }
            },
            getFromTo() {
                let start = this.actPage * 5 + 1
                let end = start + 4;
                
                if (end > this.max) {
                    end = this.max;
                }
                
                return start + ' - ' + end;
            }
        }
    }
</script>