<template>
    <div class="product">
        <div class="product__info">
            <span class="product__info-name">{{ product.name }}</span>
            <span class="product__info-data">
                <rate :rate="rate.rate_num"/>
            </span>
        </div>
        <div class="product__acton">
            <router-link :to="showLink" class="btn btn--primary">
                <!--svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="btn__icon">
                    <path d="M17.561 2.439c-1.442-1.443-2.525-1.227-2.525-1.227l-12.826 12.825-1.010 4.762 4.763-1.010 12.826-12.823c-0.001 0 0.216-1.083-1.228-2.527zM5.68 17.217l-1.624 0.35c-0.156-0.293-0.345-0.586-0.69-0.932s-0.639-0.533-0.932-0.691l0.35-1.623 0.47-0.469c0 0 0.883 0.018 1.881 1.016 0.997 0.996 1.016 1.881 1.016 1.881l-0.471 0.468z"></path>
                </svg-->
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" class="btn__icon">
                    <path d="M31.008 27.231l-7.58-6.447c-0.784-0.705-1.622-1.029-2.299-0.998 1.789-2.096 2.87-4.815 2.87-7.787 0-6.627-5.373-12-12-12s-12 5.373-12 12 5.373 12 12 12c2.972 0 5.691-1.081 7.787-2.87-0.031 0.677 0.293 1.515 0.998 2.299l6.447 7.58c1.104 1.226 2.907 1.33 4.007 0.23s0.997-2.903-0.23-4.007zM12 20c-4.418 0-8-3.582-8-8s3.582-8 8-8 8 3.582 8 8-3.582 8-8 8z"></path>
                </svg>
                Megtekintés
            </router-link>
            <span class="product__acton-modify-text">Utolsó módosítás</span>
            <span class="product__acton-modify-date">{{ product.created_at }}</span>
        </div>
    </div>
</template>

<script>
    import Rate from '../components/Rate';

    export default {
        name: 'Product',

        data() {
            return {
                showLink: {
                    name: 'productsShow',
                    params: {
                        id: this.product.product_id
                    }
                }
            }
        },

        props: ['product', 'rate'],

        components: {
            Rate
        }
    }
</script>