<template>
    <div class="rate">
        <div class="rate__stars" v-bind:class="rateNumClass()">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="rate__star" v-for="n in 5 " :key="n">
                <path d="M10 1.3l2.388 6.722h6.412l-5.232 3.948 1.871 6.928-5.439-4.154-5.438 4.154 1.87-6.928-5.233-3.948h6.412l2.389-6.722z"></path>
            </svg>
        </div>
        <span class="rate__average">{{ rate }}</span>
    </div>
</template>

<script>
    export default {
        name: 'Rate',

        props: ['rate'],

        methods: {
            rateNumClass() {
                let result = '';

                switch (Math.round(this.rate)) {
                    case 1:
                        result = 'rate__stars--1';
                        break;
                    case 2:
                        result = 'rate__stars--2';
                        break;
                    case 3:
                        result = 'rate__stars--3';
                        break;
                    case 4:
                        result = 'rate__stars--4';
                        break;
                    case 5:
                        result = 'rate__stars--5';
                        break;
                }

                return result;
            }
        }
    }
</script>