<template>
    <div class="input">
        <label :for="name" class="input__label">{{ label }}</label>
        <textarea
            :id="name"
            class="input__input"
            :placeholder="placeholder"
            rows="6"
            v-model="value"
            @input="updateField()"/>
        <p class="input__error" v-text="errorMessage()">error here</p>
    </div>
</template>

<script>
    export default {
        name: 'TextareaField',

        props: ['name', 'label', 'placeholder', 'errors'],

        data() {
            return {
                value: ''
            }
        },

        computed: {
            hasError: function () {
                return this.errors && this.errors[this.name] && this.errors[this.name].length > 0;
            }
        },

        methods: {
            updateField() {
                this.clearErrors(this.name);
                this.$emit('update:field', this.value);
            },
            clearErrors() {
                if (this.hasError) {
                    this.errors[this.name] = null;
                }
            },
            errorMessage() {
                if (this.hasError) {
                    return 'Hibás mező';
                }
            }
        },

        watch: {
            data(val) {
                this.value = val;
            }
        }
    }
</script>