<template>
    <label class="toggle-switch">
        <input
            type="checkbox"
            v-model="mutableEnabled"
            class="toggle-switch__checkbox"
            @click="check"
        >
        <span class="toggle-switch__slider"></span>
    </label>
</template>

<script>
    export default {
        name: 'ToggleSwitch',

        props: ['enabled'],

        data() {
            return {
                mutableEnabled: this.enabled
            }
        },

        methods: {
            check() {
                this.$emit('update:checkbox', !this.mutableEnabled ? 1 : 0);
            }
        }
    }
</script>