.basket-item {
    display: flex;
    align-items: center;
    
    & > * {
        flex: 1 1 0px;
    }

    &__img {
        height: 15rem;
    }

    &__name {
        flex: 2 1 0px;
        font-size: 1.8rem;
    }
    
    &__quantity-wrapper {
        display: flex;
        justify-content: center;
    }

    &__quantity {
        margin-right: 1rem;
        border-radius: 3px;
        border: 1px solid $color-grey;
        padding: 1rem;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        -moz-appearance: textfield;
    }

    &__price {
        font-size: 2rem;
        font-weight: 600;
        color: $color-primary-dark;

        &::after {
            content: " Ft";
        }
        
        display: flex;
        justify-content: center;
    }
}