.basket-items {
    &__header {
        background-image: linear-gradient(to right, rgba($color-primary-dark, .2), rgba($color-primary-light, .2));
        display: flex;
        text-transform: uppercase;
        font-size: 1.6rem;
        font-weight: 600;
        color: $color-black;
        padding: 1rem 0;

        & > *:first-child {
            flex: 3 1 0px;
            display: flex;
            justify-content: center;
        }

        & > *:not(:first-child) {
            flex: 1 1 0px;
            display: flex;
            justify-content: center;
        }
    }

    &__footer {
        display: flex;
        justify-content: flex-end;
        background-image: linear-gradient(to right, rgba($color-primary-dark, .2), rgba($color-primary-light, .2));
        text-transform: uppercase;
        font-size: 1.6rem;
        font-weight: 600;
        color: $color-black;
        padding: 1rem 3rem;

        &::after {
            content: " Ft";
        }
    }
}