body {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-weight: 400;
    line-height: 1.7;
}

.heading-primary {
    color: $color-white;
    text-transform: uppercase;

    backface-visibility: hidden;
    margin-bottom: 5rem;

    &--main {
        display: block;
        font-size: 5.5rem;
        font-weight: 400;
        letter-spacing: 2.5rem;
        border-top: 2px solid;
        border-bottom: 2px solid;
        border-image-source: linear-gradient(
            to right,
            rgba($color-primary-dark, 0.5),
            rgba($color-primary-light, 0.5)
        );
        border-image-slice: 60 30;
        padding: 1rem;
        padding-left: 3.5rem;
        margin-bottom: 4rem;

        @include respond(tab-port) {
            font-size: 3.5rem;
            letter-spacing: 2rem;
        }

        @include respond(phone) {
            font-size: 2.5rem;
            letter-spacing: 0.5rem;
            padding-left: 1.5rem;
        }
    }

    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.5rem;
    }
}

.heading-secundary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    letter-spacing: 0.15rem;
    text-align: center;
    margin-bottom: 6rem;

    @include respond(tab-port) {
        font-size: 3rem;
    }

    @include respond(phone) {
        font-size: 2.5rem;
    }

    &--white {
        color: $color-white;
    }

    &--primary {
        color: #484848;
    }

    @include respond(tab-port) {
        margin-bottom: 3rem;
    }
}

.margin-right-small {
    margin-right: 1rem;
}

.margin-bottom-small {
    margin-bottom: 1rem;
}