/* ZÖLD 
$color-primary-light: #90f0b5;
$color-primary-dark: #80e5a6;
*/

/* BLUE */
$color-primary-light: #a9e136;
$color-primary-dark: #2bd29c;


$color-secondary-light: #79a1d8;
$color-secondary-dark: #517fbf;

$color-white: #fff;
$color-black: #000;
$color-grey: #d0d0d0;
$color-grey-dark: #484848;
$color-green: #6cba4c;