<template>
    <main class="view">
        <div class="view__header">
            <div class="view__header-place">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="view__header-icon">
                    <path d="M5.8 12.2v-6.2h-3.8c-1.1 0-2 0.9-2 2v6c0 1.1 0.9 2 2 2h1v3l3-3h5c1.1 0 2-0.9 2-2v-1.82c-0.064 0.014-0.132 0.021-0.2 0.021l-7-0.001zM18 1h-9c-1.1 0-2 0.9-2 2v8h7l3 3v-3h1c1.1 0 2-0.899 2-2v-6c0-1.1-0.9-2-2-2z"></path>
                </svg>
                <span class="view__header-text">Értesítések</span>
            </div>
        </div>
        <div class="view__body">
            <notification title="Termék érékelés" status="true" subject="PREMIUM DIET GO kezdőcsomag | értékelés és komment" datetime="2020.05.14 22:56" />
            <notification title="Termék érékelés" status="true" subject="PREMIUM DIET GO | értékelés" datetime="2020.05.14 22:56" />
            <notification title="Termék érékelés" status="false" subject="PREMIUM DIET GO + | értékelés és komment" datetime="2020.05.14 22:56" />
        </div>
        <div class="view__footer">
            <Pagination />
        </div>
    </main>
</template>

<script>
    import Notification from '../components/Notification';
    import Pagination from '../components/Pagination';

    export default {
        name: 'NotificationsIndex',

        components: {
            Notification,
            Pagination
        }
    }
</script>