<template>
    <main class="view">
        <load-layout v-if="loading" />
        <div class="view__header">
            <div class="view__header-place">
               <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="view__header-icon">
                    <path d="M13 17c0 1.104 0.894 2 2 2 1.104 0 2-0.896 2-2 0-1.106-0.896-2-2-2-1.106 0-2 0.894-2 2zM3 17c0 1.104 0.895 2 2 2 1.103 0 2-0.896 2-2 0-1.106-0.897-2-2-2-1.105 0-2 0.894-2 2zM6.547 12.172l11.068-3.162c0.211-0.061 0.385-0.289 0.385-0.51v-5.5h-14v-1.6c0-0.22-0.181-0.4-0.399-0.4h-3.202c-0.219 0-0.399 0.18-0.399 0.4v1.6h2l1.91 8.957 0.090 0.943v1.649c0 0.219 0.18 0.4 0.4 0.4h13.2c0.22 0 0.4-0.182 0.4-0.4v-1.549h-11.248c-1.15 0-1.174-0.551-0.205-0.828z" />
                </svg>
                <span class="view__header-text">Rendelések</span>
            </div>
        </div>
        <div v-if="!loading" class="view__body">
            <order v-for="order in orders" :order="order.data" :key="order.data.order_id" />
        </div>
        <div v-if="!loading" class="view__footer">
            <pagination :max="orders.length" @update:pagination="actPage = $event" />
        </div>
    </main>
</template>

<script>
    import LoadLayout from "../components/LoadLayout";
    import Order from "../components/Order";
    import Pagination from "../components/Pagination";

    export default {
        name: "OrdersIndex",

        data() {
            return {
                loading: true,
                orders: null,
                actPage: 0,
            };
        },

        mounted() {
            axios.get("/api/orders/").then((response) => {
                this.orders = response.data.data;
                this.loading = false;
            }).catch((errors) => {
                this.loading = false;
            });
        },

        components: {
            LoadLayout,
            Order,
            Pagination,
        },
    };
</script>