<template>
    <main class="view">
        <load-layout v-if="loading" />
        <div class="view__header">
            <div class="view__header-place">
               <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="view__header-icon">
                    <path d="M13 17c0 1.104 0.894 2 2 2 1.104 0 2-0.896 2-2 0-1.106-0.896-2-2-2-1.106 0-2 0.894-2 2zM3 17c0 1.104 0.895 2 2 2 1.103 0 2-0.896 2-2 0-1.106-0.897-2-2-2-1.105 0-2 0.894-2 2zM6.547 12.172l11.068-3.162c0.211-0.061 0.385-0.289 0.385-0.51v-5.5h-14v-1.6c0-0.22-0.181-0.4-0.399-0.4h-3.202c-0.219 0-0.399 0.18-0.399 0.4v1.6h2l1.91 8.957 0.090 0.943v1.649c0 0.219 0.18 0.4 0.4 0.4h13.2c0.22 0 0.4-0.182 0.4-0.4v-1.549h-11.248c-1.15 0-1.174-0.551-0.205-0.828z" />
                </svg>
                <span class="view__header-text">Rendelés</span>
            </div>
        </div>
        <div class="view__body" v-if="!loading">
            <div class="form__title">Személyes adatok</div>
            <div class="read-only">
                <p class="read-only__name">Név</p>
                <p class="read-only__value">{{ contact.last_name }} {{ contact.first_name }}</p>
            </div>
            <div class="read-only">
                <p class="read-only__name">E-mail</p>
                <p class="read-only__value">{{ contact.email }}</p>
            </div>
            <div class="read-only">
                <p class="read-only__name">Cím</p>
                <p class="read-only__value">{{ contact.country }}, {{ contact.zip_code }} {{ contact.city }} {{ contact.street }}</p>
            </div>
            <div class="read-only">
                <p class="read-only__name">Rendelés összege</p>
                <p class="read-only__value">{{ order.price }} Ft</p>
            </div>
            <div class="form__title">Rendelt termékek</div>
            <div v-for="orderItem in orderItems" :key="orderItem.product_id" class="order-item">
                <p class="order-item__name">{{ orderItem.name }}</p>
                <p class="order-item__price">{{ orderItem.price }} Ft</p>
                <p class="order-item__quantity">{{ orderItem.quantity }} db</p>
            </div>
        </div>
    </main>
</template>

<script>
    import LoadLayout from '../components/LoadLayout';

    export default {
        name: 'OrdersShow',

        data() {
            return {
                loading: true,
                modal: false,
                order: null,
                contact: null,
                orderItems: []
            };
        },

        async mounted() {
            let orderItems = [];

            await axios.get('/api/orders/' + this.$route.params.id).then(response => {
                this.order = response.data.data;
                this.contact = response.data.contact;
                this.orderItems = response.data.items;
            }).catch(errors => {
                // TODO handle
            });

            if (this.order.viewed !== 1) {
                const copy = {...this.order, viewed: 1};
                await axios.patch('/api/orders/' + this.$route.params.id, copy)
                    .then(response => {
                        this.$store.commit('decOrders');
                    }).catch(errors => {
                        // TODO handle
                    });
            }

            this.loading = false;
        },

        components: {
            LoadLayout
        }
    }
</script>