<template>
    <main class="view">
        <load-layout v-if="loading" />
        <div v-if="modal" class="popup-window">
            <div class="popup-window__center">
                <div class="popup-window__header">
                    <div class="popup-window__icon-wrapper">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="popup-window__icon">
                            <path d="M3.389 7.113l1.101 10.908c0.061 0.461 2.287 1.977 5.51 1.979 3.225-0.002 5.451-1.518 5.511-1.979l1.102-10.908c-1.684 0.942-4.201 1.387-6.613 1.387-2.41 0-4.928-0.445-6.611-1.387zM13.168 1.51l-0.859-0.951c-0.332-0.473-0.692-0.559-1.393-0.559h-1.831c-0.7 0-1.061 0.086-1.392 0.559l-0.859 0.951c-2.57 0.449-4.434 1.64-4.434 2.519v0.17c0 1.547 3.403 2.801 7.6 2.801 4.198 0 7.601-1.254 7.601-2.801v-0.17c0-0.879-1.863-2.070-4.433-2.519zM12.070 4.34l-1.070-1.34h-2l-1.068 1.34h-1.7c0 0 1.862-2.221 2.111-2.522 0.19-0.23 0.384-0.318 0.636-0.318h2.043c0.253 0 0.447 0.088 0.637 0.318 0.248 0.301 2.111 2.522 2.111 2.522h-1.7z"></path>
                        </svg>
                    </div>
                </div>

                <div class="popup-window__body">
                    <p class="popup-window__primary-text">Elem törlése</p>
                    <p class="popup-window__secundary-text">Biztosan törölni szeretné ezt az elemet?</p>
                </div>

                <div class="popup-window__footer">
                    <button class="btn btn--alert" @click="destroy">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="btn__icon">
                            <path d="M3.389 7.113l1.101 10.908c0.061 0.461 2.287 1.977 5.51 1.979 3.225-0.002 5.451-1.518 5.511-1.979l1.102-10.908c-1.684 0.942-4.201 1.387-6.613 1.387-2.41 0-4.928-0.445-6.611-1.387zM13.168 1.51l-0.859-0.951c-0.332-0.473-0.692-0.559-1.393-0.559h-1.831c-0.7 0-1.061 0.086-1.392 0.559l-0.859 0.951c-2.57 0.449-4.434 1.64-4.434 2.519v0.17c0 1.547 3.403 2.801 7.6 2.801 4.198 0 7.601-1.254 7.601-2.801v-0.17c0-0.879-1.863-2.070-4.433-2.519zM12.070 4.34l-1.070-1.34h-2l-1.068 1.34h-1.7c0 0 1.862-2.221 2.111-2.522 0.19-0.23 0.384-0.318 0.636-0.318h2.043c0.253 0 0.447 0.088 0.637 0.318 0.248 0.301 2.111 2.522 2.111 2.522h-1.7z"></path>
                        </svg>
                        Törlés
                    </button>
                    <button class="btn btn--primary" @click="modal = !modal">
                        Mégse
                    </button>
                </div>
            </div>
        </div>       
        <div class="view__header">
            <div class="view__header-place">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="view__header-icon">
                    <path d="M18.399 2h-16.799c-0.332 0-0.6 0.267-0.6 0.6v2.4h18v-2.4c0-0.333-0.27-0.6-0.601-0.6zM2 16.6c0 0.77 0.629 1.4 1.399 1.4h13.2c0.77 0 1.4-0.631 1.4-1.4v-10.6h-15.999v10.6zM7 8h6v2h-6v-2z"></path>
                </svg>
                <span class="view__header-text">Termék</span>
            </div>
        </div>
        <div class="view__body" v-if="!loading">
            <div class="read-only">
                <p class="read-only__name">Név</p>
                <p class="read-only__value">{{ product.name }}</p>
            </div>
            <div class="read-only">
                <p class="read-only__name">Ár</p>
                <p class="read-only__value">{{ product.price }}</p>
            </div>
            <div class="read-only">
                <p class="read-only__name">Leírás</p>
                <p class="read-only__value">{{ product.desc }}</p>
            </div>
            <div class="read-only">
                <p class="read-only__name">Készítés dátuma</p>
                <p class="read-only__value">{{ product.created_at }}</p>
            </div>

            <div class="panel" v-if="rate.count > 0">
                <div class="panel__header">Értékelések</div>
                <div class="panel__body">
                    <div class="panel__row" v-for="rate in rate.rates" :key="rate.rate_id">
                        <div class="panel--column-1 panel--center">
                            <p>{{rate.rate}}</p>
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="rate__star rate__stars--1">
                                <path d="M10 1.3l2.388 6.722h6.412l-5.232 3.948 1.871 6.928-5.439-4.154-5.438 4.154 1.87-6.928-5.233-3.948h6.412l2.389-6.722z"></path>
                            </svg>
                        </div>
                        <div class="panel--column-7 panel--center">{{rate.comment}}</div>
                        <div class="panel--column-1 panel--center">
                            <toggle-switch :enabled="rate.enabled" @update:checkbox="updateCheckbox(rate.rate_id, $event)" />
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="view__footer">
            <button class="btn btn--alert" @click="modal = !modal">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="btn__icon">
                    <path d="M3.389 7.113l1.101 10.908c0.061 0.461 2.287 1.977 5.51 1.979 3.225-0.002 5.451-1.518 5.511-1.979l1.102-10.908c-1.684 0.942-4.201 1.387-6.613 1.387-2.41 0-4.928-0.445-6.611-1.387zM13.168 1.51l-0.859-0.951c-0.332-0.473-0.692-0.559-1.393-0.559h-1.831c-0.7 0-1.061 0.086-1.392 0.559l-0.859 0.951c-2.57 0.449-4.434 1.64-4.434 2.519v0.17c0 1.547 3.403 2.801 7.6 2.801 4.198 0 7.601-1.254 7.601-2.801v-0.17c0-0.879-1.863-2.070-4.433-2.519zM12.070 4.34l-1.070-1.34h-2l-1.068 1.34h-1.7c0 0 1.862-2.221 2.111-2.522 0.19-0.23 0.384-0.318 0.636-0.318h2.043c0.253 0 0.447 0.088 0.637 0.318 0.248 0.301 2.111 2.522 2.111 2.522h-1.7z"></path>
                </svg>
                Törlés
            </button>
        </div>
    </main>
</template>

<script>
    import LoadLayout from '../components/LoadLayout';
    import ToggleSwitch from '../components/ToggleSwitch';

    export default {
        name: 'ProductsShow',

        data() {
            return {
                loading: true,
                modal: false,
                product: null,
                rate:null
            };
        },

        mounted() {
            axios.get('/api/products/admin/' + this.$route.params.id).then(response => {
                this.product = response.data.data;
                this.rate = response.data.rate;
                this.loading = false;
            }).catch(errors => {
                this.loading = false;
            });
        },
        
        methods: {
            destroy() {
                axios.delete('/api/products/' + this.$route.params.id).then(response => {
                    this.$router.push('/admin/products');
                }).catch(errors => {
                    
                });
            },
            updateCheckbox(id, e) {
                const form = this.rate.rates.filter((rate) => rate.rate_id === id);
                const copy = {...form[0]};
                delete copy.rate_id;
                copy.product_id =this.$route.params.id;
                copy.enabled = e;

                axios.patch('/api/rates/' + id, copy).then(response => {
                }).catch(errors => {

                });
            }
        },

        components: {
            LoadLayout,
            ToggleSwitch
        }
    }
</script>