<template>
    <main class="view">
        <load-layout v-if="loading" />
        <div class="view__header">
            <div class="view__header-place">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="view__header-icon">
                    <path d="M18.399 2h-16.799c-0.332 0-0.6 0.267-0.6 0.6v2.4h18v-2.4c0-0.333-0.27-0.6-0.601-0.6zM2 16.6c0 0.77 0.629 1.4 1.399 1.4h13.2c0.77 0 1.4-0.631 1.4-1.4v-10.6h-15.999v10.6zM7 8h6v2h-6v-2z"></path>
                </svg>
                <span class="view__header-text">Termékek</span>
            </div>

            <search placeholder="Termék keresés" />

            <router-link :to="{ name: 'productsCreate' }" class="btn btn--primary">

                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="btn__icon">
                    <path d="M16 10c0 0.553-0.048 1-0.601 1h-4.399v4.399c0 0.552-0.447 0.601-1 0.601s-1-0.049-1-0.601v-4.399h-4.399c-0.552 0-0.601-0.447-0.601-1s0.049-1 0.601-1h4.399v-4.399c0-0.553 0.447-0.601 1-0.601s1 0.048 1 0.601v4.399h4.399c0.553 0 0.601 0.447 0.601 1z"></path>
                </svg>
                Új termék
            </router-link>
        </div>
        <div v-if="!loading" class="view__body">
            <product v-for="product in getProducts()" :product="product.data" :rate="product.rate" :key="product.data.product_id" />
        </div>
        <div v-if="!loading" class="view__footer">
            <pagination :max="products.length" @update:pagination="actPage = $event"/>
        </div>
    </main>
</template>

<script>
    import LoadLayout from '../components/LoadLayout';
    import Pagination from '../components/Pagination';
    import Product from '../components/Product';
    import Search from '../components/Search';

    export default {
        name: 'ProductsIndex',

        data() {
            return {
                loading: true,
                products: null,
                actPage: 0
            };
        },
        
        methods: {
            getProducts() {
                let begin = this.actPage * 5;
                let end = begin + 5;
                return this.products.slice(begin, end);
            }
        },

        mounted() {
            axios.get('/api/products').then(response => {
                this.products = response.data.data;
                this.loading = false;
            }).catch(errors => {
                this.loading = false;
            });
        },

        components: {
            LoadLayout,
            Pagination,
            Product,
            Search
        }
    }
</script>