<template>
    <main class="view">
        <div class="view__header">
            <div class="view__header-place">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="view__header-icon">
                    <path d="M18.399 2h-16.799c-0.332 0-0.6 0.267-0.6 0.6v2.4h18v-2.4c0-0.333-0.27-0.6-0.601-0.6zM2 16.6c0 0.77 0.629 1.4 1.399 1.4h13.2c0.77 0 1.4-0.631 1.4-1.4v-10.6h-15.999v10.6zM7 8h6v2h-6v-2z"></path>
                </svg>
                <span class="view__header-text">Termék készítés</span>
            </div>
        </div>
        <form class="view__body" @submit.prevent="submitForm" enctype="multipart/form-data">
            <input-field name="name" type="text" label="Név" placeholder="Név" :errors="errors" @update:field="form.name = $event"/>
            <input-field name="price" type="number" label="Ár" placeholder="Ár" :errors="errors" @update:field="form.price = $event"/>
            <textarea-field name="desc" label="Leírás" placeholder="Leírás" :errors="errors" @update:field="form.desc = $event"/>
            <button class="btn btn--primary">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" class="btn__icon">
                    <path d="M28 0h-28v32h32v-28l-4-4zM16 4h4v8h-4v-8zM28 28h-24v-24h2v10h18v-10h2.343l1.657 1.657v22.343z"></path>
                </svg>
                Mentés
            </button>
        </form>
    </main>
</template>

<script>
    import InputField from '../components/InputField';
    import TextareaField from '../components/TextareaField';

    export default {
        name: 'ProductsCreate',

        data() {
            return {
                form: {
                    'name': '',
                    'slug': '',
                    'price': '',
                    'desc': ''
                },
                errors: null
            }
        },

        methods: {
            async submitForm() {
                let product = null;

                await axios.post('/api/products', this.form).then(response => {
                    product = response.data;
                    this.$router.push(product.links.self);
                }).catch(errors => {
                    this.errors = errors.response.data.errors;
                });
            }
        },

        computed: {
            name() {
                return this.form.name;
            }
        },

        watch: {
            name(val) {
                this.form.slug = this.$slug(val);
            }
        },

        components: {
            InputField,
            TextareaField
        }
    }
</script>