.basket-progress {
    position: relative;
    height: 3rem;
    margin-bottom: 5rem;

    &__steps {
        display: flex;
        position: relative;
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 48px;
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
    }

    &__step {
        display: flex;
        position: relative;
        height: 6rem;
        flex: 1;
        align-items: flex-end;
        justify-content: center;

        &:after {
            width: 3.5rem;
            height: 3.5rem;
            border-radius: 50%;
            background-color: $color-white;
            top: -1rem;
            margin-left: -2rem;
            z-index: 2;
            content: "";
            display: block;
            position: absolute;
            left: 50%;
        }
    }
    
    &__step--activ {
        &:after {
            border: .5rem solid $color-primary-light;
        }
    }
    
    &__step--finish {
        &:after {
            background-color: $color-primary-light;
        }
    }

    &__bar {
        position: absolute;
        left: 16%;
        top: .5rem;
        width: 68%;
        height: .5rem;
        background-color: $color-white;
    }
    
    &__bar-s {
        position: absolute;
        left: 16%;
        top: .5rem;
        width: 0%;
        height: .5rem;
        background-color: $color-primary-light;
        
        
        &--active-1 {
            width: 34%;
        }
        
        &--active-2 {
            width: 68%;
        }
    }

    &__label {
        padding-top: 1rem;
        color: $color-white;
        font-size: 1.5rem;
        font-weight: 400;
    }
}