.basket-section {

    &__header {
        display: flex;
        align-items: center;
        background-color: $color-primary-dark;
        color: $color-white;
        text-transform: uppercase;
        font-size: 1.6rem;
        font-weight: 600;
        padding: 1rem 3rem;
        border-bottom: 1px solid $color-white;
    }

    &__icon {
        width: 2rem;
        height: 2rem;
        fill: $color-white;
        margin-right: 1rem;
    }
}