.basket-form {
    position: relative;
    background-color: $color-white;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    overflow: hidden;

    &__footer {
        padding: 3rem;
        display: flex;
        justify-content: flex-end;
    }

    &__btn {
        padding: 1rem;
        font-size: 1.6rem;
        display: flex;
        align-items: center;
        border-radius: 3px;
        outline: 0px transparent;
        cursor: pointer;
        
        &--prev {
            color: $color-black;
            border: none;
            background-color: $color-white;
            margin-right: 1rem;
            
            &:hover {
                background-color: $color-grey;
            }
        }
        
        &--next {
            color: $color-white;
            border: none;
            background-color: $color-primary-dark;
        }
    }
}