.btn {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 2rem;
    transition: all 0.2s;
    position: relative;
    font-size: 1.6rem;
    border: none;
    cursor: pointer;

    &--white {
        border: 2px solid $color-white;
        color: $color-white;

        &::after {
            background-color: $color-white;
        }
    }
    
    &--green {
        border: 2px solid $color-green;
        color: $color-green;

        &::after {
            background-color: $color-green;
        }
    }
}