.contact-form {
    padding: 2rem;
    &__row {
        display: flex;

        &:not(:last-child) {
            margin-bottom: 2rem;
        }
    }

    &__group {
        flex: 1;

        &:not(:last-child) {
            margin-right: 2rem;
        }
    }

    &__input, &__textbox {
        font-size: 1.5rem;
        font-family: inherit;
        padding: 1.5rem 2rem;
        background-color: rgba($color-primary-dark, 0.2);
        border: none;
        border-bottom: 3px solid transparent;
        width: 100%;
        display: block;
        border-radius: 3px;
        outline: 0px transparent;
        transition: all .3s;
        
        &:hover {
            border-bottom: 3px solid $color-grey;
        }
    }
    
    &__input:placeholder-shown + &__label, &__textbox:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }

    &__textbox {
        resize: none;
    }

    &__label {
        font-size: 1.2rem;
        font-weight: 700;
        color: $color-grey-dark;
        margin-left: 2rem;
        margin-top: 0.7rem;
        display: block;
        transition: all .3s;
    }
}