.form-button {
    padding: 1rem;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    border-radius: 3px;
    outline: 0px transparent;
    cursor: pointer;
    border: none;

    &--green {
        color: $color-white;
        background-color: $color-primary-dark;
    }

    &--orange {
        color: $color-white;
        background-color: #333;
    }
}