.help {
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba($color-black, 0.2);
    background-color: rgba($color-white, 0.6);
    border-radius: 3px;
    font-size: 1.6rem;
    color: #484848;
    border-bottom: 4px solid;
    border-image-source: linear-gradient(
        to right,
        rgba($color-primary-dark, 0.5),
        rgba($color-primary-light, 0.5)
    );
    border-image-slice: 60 30;
    overflow: hidden;

    @include respond(phone) {
        width: 90%;
    }

    &__header {
        padding: 1.5rem 4rem;
        background-color: #484848;
    }

    &__body {
        padding: 1.5rem 4rem;
    }

    &__header-text {
        font-size: 1.8rem;
        font-weight: 700;
        text-transform: uppercase;
        display: inline-block;
        background-image: linear-gradient(
            to right,
            $color-primary-light,
            $color-primary-dark
        );
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    &__list-label {
        margin-top: 1.5rem;
    }

    &__list {
        list-style: none;

        li::before {
            content: "•";
            padding-left: 1rem;
            padding-right: 1rem;
            color: $color-primary-dark;
        }
    }

    &__line {
        height: 1px;
        width: 100%;
        background-color: rgba(#484848, 0.2);
        margin: 1.5rem 0;
    }
}
