.product-wrapper {
    display: flex;
    flex: 0 0 33%;
    padding: 1rem;
    position: relative;
    justify-content: center;

    @include respond(tab-port) {
        flex: 0 0 50%;
    }
    
    @include respond(phone) {
        flex: 0 0 100%;
    }
}

.product {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid $color-grey;
    border-radius: 3px;
    padding: 1rem;
    background-color: $color-white;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    transition: transform .3s;

    &:hover {
        transform: translateY(-1.2rem) scale(1.02);
    }

    & > * {
        width: 100%;
    }

    &__img {
        width: 100%;
    }

    &__name {
        font-size: 1.8rem;
        margin-bottom: auto;
    }

    &__price {
        font-size: 2rem;
        font-weight: 600;
        color: $color-primary-dark;
        margin-top: 2rem;

        &::after {
            content: " Ft";
        }
    }

    &__shop {
        display: flex;
        height: 3.5rem;
    }

    &__shop-btn {
        padding: 1rem;
        font-size: 1.6rem;
        background-color: $color-primary-dark;
        border: none;
        color: $color-white;
        display: flex;
        align-items: center;
        border-radius: 3px;
    }

    &__shop-btn-icon {
        height: 2rem;
        width: 2rem;
        margin-right: .5rem;
        fill: $color-white;
        height: 2rem;
    }

    &__shop-input {
        margin-right: 1rem;
        border-radius: 3px;
        border: 1px solid $color-grey;
        padding: 1rem;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        -moz-appearance: textfield;
    }
}