.rate-popup {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2500;
    
    background-image: linear-gradient(
        to right,
        rgba($color-primary-light, 0.85),
        rgba($color-primary-dark, 0.85)
    );

    &__center {
        background-color: $color-white;
        padding: 3rem;
        font-size: 1.6rem;
        color: #484848;
        border-radius: 3px;

        @include respond(phone) {
            width: 100%;
            border-radius: 0;
        }
    }

    &__header {
        text-transform: uppercase;
    }

    &__rate {
        display: flex;
        align-items: center;
    }

    &__rate-star {
        width: 3.5rem;
        height: 3.5rem;
        fill: $color-grey;
    }

    &__rate-text {
        margin-left: 1rem;
        color: $color-grey;
        font-size: 3rem;
    }
}