.rate {
    display: flex;
    align-items: flex-end;
    cursor: pointer;
    
    &__star {
        width: 1.6rem;
        height: 1.6rem;
        fill: $color-grey;
    }

    &__stars {
        margin-right: .5rem;
        
        &--1 {
            & > :nth-child(-n + 1) {
                fill: $color-primary-dark;
            }
        }

        &--2 {
            & > :nth-child(-n + 2) {
                fill: $color-primary-dark;
            }
        }

        &--3 {
            & > :nth-child(-n + 3) {
                fill: $color-primary-dark;
            }
        }

        &--4 {
            & > :nth-child(-n + 4) {
                fill: $color-primary-dark;
            }
        }

        &--5 {
            & > * {
                fill: $color-primary-dark;
            }
        }
    }

    &__average {
        font-size: 1.6rem;
        color: $color-primary-dark;
    }
}