.review {
    background-color: rgba($color-white, .9);
    padding: 3rem;
    margin-bottom: 3.5rem;
    position: relative;
    overflow: hidden;
    border-radius: 3px;

    &__text {
        z-index: 10;
        position: relative;
        font-size: 1.6rem;
        color: #484848;
    }

    &::before {
        content: "\201C";
        position: absolute;
        top: -2.75rem;
        left: -1rem;
        line-height: 1;
        font-size: 20rem;
        color: rgba(#ccc, .5);
        font-family: sans-serif;
        z-index: 1;
    }
}