*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;

    @media only screen and (max-width: $bp-large) {
        font-size: 50%;
    }
}

body {
    box-sizing: border-box;
    background-image: linear-gradient(to right bottom, #425c65, #263340);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

#app {
    padding-top: 8rem;
}