<template>
    <div class="contact-form">
        <div class="contact-form__row">
            <div class="contact-form__group">
                <input id="last-name" type="text" class="contact-form__input" placeholder="Vezetéknév" v-model="contact.last_name" @input="addContact()"/>
                <label for="last-name" class="contact-form__label">Vezetéknév</label>
            </div>
            <div class="contact-form__group">
                <input id="first-name" type="text" class="contact-form__input" placeholder="Keresztnév" v-model="contact.first_name" @input="addContact()"/>
                <label for="first-name" class="contact-form__label">Keresztnév</label>
            </div>
        </div>
        <div class="contact-form__row">
            <div class="contact-form__group">
                <input id="country" type="text" class="contact-form__input" placeholder="Ország" v-model="contact.country" @input="addContact()"/>
                <label for="country" class="contact-form__label">Ország</label>
            </div>
            <div class="contact-form__group">
                <input id="zip-code" type="text" class="contact-form__input" placeholder="Ir.szám" v-model="contact.zip_code" @input="addContact()"/>
                <label for="zip-code" class="contact-form__label">Ir.szám</label>
            </div>
            <div class="contact-form__group">
                <input id="city" type="text" class="contact-form__input" placeholder="Város" v-model="contact.city" @input="addContact()"/>
                <label for="city" class="contact-form__label">Város</label>
            </div>
        </div>
        <div class="contact-form__row">
            <div class="contact-form__group">
                <input id="street" type="text" class="contact-form__input" placeholder="Utca, házszám" v-model="contact.street" @input="addContact()"/>
                <label for="street" class="contact-form__label">Utca, házszám</label>
            </div>
        </div>
        <div class="contact-form__row">
            <div class="contact-form__group">
                <input id="email" type="text" class="contact-form__input" placeholder="E-mail" v-model="contact.email" @input="addContact()"/>
                <label for="email" class="contact-form__label">E-mail</label>
            </div>
            <div class="contact-form__group">
                <input id="phone" type="text" class="contact-form__input" placeholder="Telefonszám" v-model="contact.phone" @input="addContact()"/>
                <label for="phone" class="contact-form__label">Telefonszám</label>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'ContactForm',

        data() {
            return {
                contact: {
                    'last_name': '',
                    'first_name': '',
                    'country': '',
                    'zip_code': '',
                    'city': '',
                    'street': '',
                    'email': '',
                    'phone': ''
                }
            };
        },

        mounted() {
            this.contact = this.$store.getters.contact;
        },

        methods: {
            addContact() {
                this.$store.commit('setContact', this.contact);
            }
        }
    }
</script>