<template>
    <footer class="footer">
        <div class="footer__logo-box">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="footer__logo">
                <g>
                    <g>
                        <path d="M466.983,71.281c-25.823-26.105-60.706-40.537-98.225-40.643c-38.617-0.129-77.317,14.503-108.324,40.514
                              c-35.265-31.055-67.165-46.197-97.204-46.197c-41.952,0-80.875,16.523-109.334,46.262c-21.39,21.39-36.046,49.474-42.399,81.221
                              c-1.902,9.541,4.28,18.818,13.822,20.727c9.53,1.891,18.818-4.28,20.727-13.822c4.979-24.901,16.305-46.761,33.028-63.489
                              c22.018-23.005,51.91-35.67,84.157-35.67c23.363,0,51.664,15.742,83.817,46.479c3.605,3.623,8.343,5.625,13.34,5.631
                              c0.006,0,0.018,0,0.023,0c4.985,0,9.723-1.99,13.334-5.601c25.958-25.958,60.424-40.825,94.597-40.825c0.112,0,0.217,0,0.323,0
                              c28.477,0.076,53.819,10.522,73.077,29.986c22.594,23.598,35.036,54.506,35.036,87.046c0,32.564-12.724,64.241-34.554,86.564
                              L260.697,444.941L116.756,305.867c-6.993-6.758-18.143-6.553-24.907,0.423c-6.758,6.999-6.564,18.149,0.429,24.907
                              l156.183,150.899c3.411,3.3,7.827,4.95,12.236,4.95s8.825-1.65,12.242-4.944l194.114-187.655
                              C495.618,265.248,512,224.593,512,182.899C512,141.24,496.082,101.672,466.983,71.281z"/>
                    </g>
                </g>
                <g>
                    <g>
                        <path d="M480.294,223.413H338.202c-4.85,0-9.477,1.99-12.8,5.513l-53.414,56.479L210.466,145.85
                              c-2.642-5.995-8.396-10.029-14.931-10.469c-6.5-0.417-12.776,2.783-16.2,8.367l-48.863,79.665H17.615
                              C7.885,223.413,0,231.298,0,241.028s7.885,17.615,17.615,17.615h122.71c6.124,0,11.814-3.182,15.014-8.408l36.451-59.42
                              l58.663,133.061c2.378,5.402,7.304,9.248,13.117,10.252c0.998,0.17,2.002,0.258,3,0.258c4.803,0,9.447-1.961,12.8-5.508
                              l66.419-70.236h134.506c9.729,0,17.615-7.886,17.615-17.615C497.908,231.298,490.023,223.413,480.294,223.413z"/>
                    </g>
                </g>
            </svg>
        </div>

        <div class="footer__navigation">
            <ul class="footer__list">
                <li class="footer__item">
                    <router-link to="/" class="footer__link">Rólam</router-link>
                </li>
                <li class="footer__item">
                        <router-link to="/bolt" class="footer__link">Termékek</router-link>
                </li>
            </ul>
            <div class="footer__desc">
                <div class="footer__desc-item">
                    <p class="footer__desc-header">Rendelési idő</p>
                    <div>
                        <table class="footer__office-hours">
                            <tr>
                                <td>Hétfő</td>
                                <td>16:00 - 19:00</td>
                            </tr>
                            <tr>
                                <td>Kedd</td>
                                <td>16:00 - 19:00</td>
                            </tr>
                            <tr>
                                <td>Szerda</td>
                                <td>16:00 - 19:00</td>
                            </tr>
                            <tr>
                                <td>Péntek</td>
                                <td>10:00 - 15:00</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="footer__desc-item">
                    <p class="footer__desc-header">Kövess itt</p>
                </div>
            </div>
        </div>
    </footer>
</template>

<script>
    export default {
        name: 'Footer'
    }
</script>