<template>
    <div class="nav-toggle">
        <input id="navi-toggle" type="checkbox" class="nav-toggle__checkbox" />

        <label for="navi-toggle" class="nav-toggle__button">
            <span class="nav-toggle__icon">&nbsp;</span>
        </label>

        <div class="nav-toggle__background">&nbsp;</div>

        <nav class="nav-toggle__nav">
            <div class="nav-toggle__list">
                <router-link to="/" class="nav-toggle__link">Rólam</router-link>
                <router-link to="/bolt" class="nav-toggle__link">Termékek</router-link>
            </div>
        </nav>
    </div>
</template>

<script>
    export default {
        name: 'NavToggle',
    }
</script>