<template>
    <div class="rate-popup">
        <div class="rate-popup__center">
            <h4 class="rate-popup__header">Új értékelés írása</h4>
            <div class="rate-popup__rate margin-bottom-small" :class="rateClass">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="rate-popup__rate-star" v-for="n in 5 " :key="n" @click="setRate(n)">
                    <path d="M10 1.3l2.388 6.722h6.412l-5.232 3.948 1.871 6.928-5.439-4.154-5.438 4.154 1.87-6.928-5.233-3.948h6.412l2.389-6.722z"></path>
                </svg>
                <p class="rate-popup__rate-text">{{ form.rate }}</p>
            </div>
            <form @submit.prevent="submitForm" enctype="multipart/form-data">
                <div class="contact-form__row">
                    <div class="contact-form__group">
                        <textarea id="rate-comment"
                                  name="rate-comment"
                                  rows="4"
                                  cols="50"
                                  placeholder="Hozzászólás"
                                  class="contact-form__textbox"
                                  v-model="form.comment">
                        </textarea>
                        <label for="rate-comment" class="contact-form__label">Hozzászólás</label>
                    </div>
                </div>
                <div class="basket-form__footer">
                    <button class="form-button form-button--green margin-right-small">Posztolom</button>
                    <div class="form-button form-button--orange" @click="resetRate">Mégse</div>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'RatePopup',

        data() {
            return {
                form: {
                    product_id: this.$store.getters.rate,
                    rate: 0,
                    comment: ''
                },
                errors: null,
                rateClass: ''
            }
        },

        methods: {
            async submitForm() {
                await axios.post('/api/rates', this.form).then(response => {
                    this.resetRate();
                }).catch(errors => {
                    this.errors = errors.response.data.errors;
                });
            },
            setRate(n) {
                this.form.rate = n;
                this.rateClass = 'rate__stars--' + n;
            },
            resetRate() {
                this.$store.commit('setRate', null);
            }
        }
    }
</script>