<template>
    <div class="product-wrapper">
        <div class="product">
            <figure class="product__figure">
                <div class="product__suspense-img"></div>
            </figure>
            <div class="product__suspense-rate"></div>
            <div class="product__suspense-name"></div>
            <div class="product__suspense-price"></div>
            <div class="product__suspense-shop"></div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'SuspenseProduct',
    }
</script>