<template>
    <div class="basket-items">
        <div class="basket-items__header">
            <p>Termék</p>
            <p>Mennyiség</p>
            <p>Ár</p>
            <p>Teljes</p>
        </div>
        <div class="basket-items__body">
            <basket-item v-if="basketPrice > 0" v-for="product in products" :product="product" :key="product.id"/>
            <p v-if="basketPrice === 0">Nincs termék a kosárban</p>
        </div>
        <div class="basket-items__footer">Összesen {{ basketPrice }}</div>
    </div>
</template>

<script>
    import BasketItem from '../../components/basket/BasketItem';

    export default {
        name: 'BasketItems',

        computed: {
            products() {
                return this.$store.getters.basketProducts;
            },
            basketPrice() {
                return this.$store.getters.basketPrice;
            }
        },

        components: {
            BasketItem
        }
    }
</script>