<template>
    <div class="basket-item">
        <figure class="basket-item__figure">
            <img src="img/products/premium-diet-go-kezdocsomag.jpg" alt="product name" class="basket-item__img" />
        </figure>
        <div class="basket-item__name">{{ product.name }}</div>
        <div class="basket-item__quantity-wrapper">
            <input
                type="number"
                min="1"
                max="9"
                v-model="value"
                @change="change"
                class="basket-item__quantity" />
        </div>
        <div class="basket-item__price">{{ product.price }}</div>
        <div class="basket-item__price">{{ product.quantity * product.price }}</div>
    </div>
</template>

<script>
    export default {
        name: 'BasketItem',

        props: ['product'],

        data() {
            return {
                value: this.getValue()
            };
        },

        methods: {
            getValue() {
                return this.product.quantity;
            },
            change() {
                const order = {
                    id: this.product.id,
                    quantity: this.value
                };

                this.$store.commit('setQuantity', order);
            }
        }
    }
</script>