.about {
    background-color: rgba($color-white, .9);
    padding: 3rem;
    flex: 0 0 60%;
    margin-right: 4.5rem;
    font-size: 1.6rem;
    color: #484848;
    border-radius: 3px;
    
    @include respond(phone) {
        margin-right: 0;
        margin-bottom: 3rem;
    }

    &__paragraph:not(:last-child) {
        margin-bottom: 2rem;
    }

    &__user {
        display: flex;
        align-items: center;
        border-bottom: 1px solid rgba(#ccc, .5);
        padding-bottom: 2rem;
        margin-bottom: 2rem;
    }

    &__photo {
        height: 10rem;
        width: 10rem;
        border-radius: 50%;
        margin-right: 1.5rem;
    }

    &__user-box {}

    &__user-name{
        padding-left: 2rem;
        color: inherit;
        font-size: 1.6rem;
        font-weight: 700;
        text-transform: uppercase;
    }
}