.basket {
    &__btn {
        background-color: $color-primary-dark;
        height: 7rem;
        width: 7rem;
        top: 11rem;
        right: 0;
        position: fixed;
        cursor: pointer;
        z-index: 2000;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        display: flex;
        flex-direction: column;
    }

    &__icon {
        height: 2.5rem;
        width: 2.5rem;
        fill: $color-white;
    }

    &__price {
        color: $color-white;
        font-size: 1.8rem;
        font-weight: 600;
    }
}