.description {
    display: flex;
    padding: 4.5rem;
    width: 120rem;
    flex-direction: row;
    
    @include respond(phone) {
        flex-direction: column;
    }
    
    @include respond(tab-land) {
        width: 100%;
    }
}