.footer {
    padding: 10rem 0;
    background-color: #333;
    font-size: 1.4rem;
    color: $color-white;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__logo-box {
        margin-bottom: 3rem;
    }

    &__logo {
        width: 10rem;
        height: 10rem;
        fill: $color-primary-light;
    }

    &__navigation {
        border-top: 2px solid rgba($color-white, 0.1);
        padding-top: 2rem;
        display: inline-block;
    }

    &__list {
        list-style: none;
        display: flex;
        justify-content: center;
    }

    &__item {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 2.5rem;
        }
    }

    &__link {
        &:link,
        &:visited {
            color: $color-grey;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
            transition: all 0.2s;
        }

        &:hover,
        &:active {
            color: $color-primary-light;
            box-shadow: 0 1rem 2rem rgba($color-black, 0.4);
            transform: rotate(-2deg) scale(1.3);
        }
    }

    &__desc {
        display: flex;
        flex-direction: row;
        margin-top: 5rem;
    }

    &__desc-header {
        font-size: 1.8rem;
        font-weight: 700;
        text-transform: uppercase;
        color: $color-primary-light;
        padding: 0 1rem;
    }

    &__office-hours {
        td {
            padding: 0.5rem 1rem;
        }
    }
}
