.header {
    background-blend-mode: multiply;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-black, 0.6),
        rgba(#26524F, 0.6)),
        url(../img/header.jpg);
    background-size: cover;
    background-position: top;
    height: 95vh;
    
    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    }

    &__text-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}