.navbar {
    width: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid rgba($color-white, .1);

    @include respond(tab-port) {
        border-bottom: none;
    }

    &__nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;

        @include respond(tab-port) {
            display: none;
        }
    }

    &__link {
        color: $color-white;
        display: block;
        padding: 4rem 2rem;
        text-transform: uppercase;
        font-size: 1.6rem;
        font-weight: 600;
        cursor: pointer;
        text-decoration: none;

        &--active {
        }
    }

    &__item {
        position: relative;
    }

    &__item::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 3px;
        width: 100%;
        background-color: rgba($color-white, .2);
        transform: scaleX(0);
        transition: transform .2s, height .4s cubic-bezier(1,0,0,1) .2s;
    }

    &__item:hover::before, &__item--active::before {
        transform: scaleX(1);
        height: 100%;
    }

    &__link:link, &__link:visited {
        position: relative;
        z-index: 10;
    }

    &__left {
        display: flex;
    }

    &__phone {
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        @include respond(tab-port) {
            display: none;
        }
    }

    &__icon {
        margin-left: 5rem;
        width: 7rem;
        height: 7rem;
        fill: $color-white;

        @include respond(tab-port) {
            margin: 2rem;
        }
    }

    &__phone-icon {
        width: 1.5rem;
        height: 1.5rem;
        fill: rgba($color-white, .8);
    }

    &__phone-text {
        margin-left: 1rem;
        font-size: 1.4rem;
        font-weight: 400;
        color: $color-white;
    }
}

.nav-toggle {
    display: none;

    @include respond(tab-port) {
        display: block;
    }

    &__checkbox {
        display: none;
    }

    &__button {
        background-color: $color-white;
        height: 7rem;
        width: 7rem;
        top: 2rem;
        right: 2rem;
        position: fixed;
        border-radius: 3px;
        z-index: 2000;
        text-align: center;
        cursor: pointer;
        box-shadow: 0 3rem 6rem rgba($color-black, .2);
    }

    &__background {
        height: 7rem;
        width: 7rem;
        top: 2rem;
        right: 2rem;
        position: fixed;
        border-radius: 3px;
        background-image: radial-gradient($color-primary-light, $color-primary-dark);
        z-index: 1000;
    }

    &__nav {
        height: 100vh;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1500;
        display: none;
        opacity: 0;
        width: 0;
    }

    &__list {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        list-style: none;
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    &__link {
        position: relative;
        margin: 2rem;
        padding: 2rem;
        cursor: pointer;
        font-size: 2.5rem;
        font-weight: 300;
        color: $color-white;
        text-decoration: none;
        text-transform: uppercase;
        transition: all .4s;
        width: 100%;
    }

    &__link::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 3px;
        background-color: rgba($color-white, .2);
        transform: scaleX(0);
    }

    &__link:hover::before {
        transform: scaleY(1);
        width: 100%;
    }

    &__checkbox:checked ~ &__background {
        transform: scale(80);
    }

    &__checkbox:checked ~ &__nav {
        opacity: 1;
        width: 100%;
        display: block;
    }

    &__icon {
        position: relative;
        margin-top: 3.5rem;

        &, &::before, &::after {
            width: 3rem;
            height: 2px;
            background-color: $color-black;
            display: inline-block;
        }

        &::before, &::after {
            content: "";
            position: absolute;
            left: 0;
            transition: all .2s;
        }

        &::before {
            top: -.8rem;
        }

        &::after {
            top: .8rem;
        }
    }
}