.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -1.4rem;
    margin-left: -1.4rem;

    &:not(:last-child) {
        margin-bottom: 4rem;
    }

    &__1-of-2 {
        flex-direction: column;
        display: flex;
        flex: 0 0 50%;
        max-width: 50%;
    }

    &__1-of-3 {
        flex-direction: column;
        display: flex;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    &__2-of-3 {
        flex-direction: column;
        display: flex;
        flex: 0 0 66.666666%;
        max-width: 66.666666%;
    }
}