.secondary-footer {
    padding: 10rem 0;
    background-color: #333;
    font-size: 1.4rem;
    color: $color-white;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__logo-box {
        margin-bottom: 3rem;
    }

    &__logo {
        width: 10rem;
        height: 10rem;
        fill: $color-primary-light;
    }

    &__navigation {
        border-top: 2px solid rgba($color-white, .1);
        padding-top: 2rem;
        display: inline-block;
    }

    &__list {
        list-style: none;
    }

    &__item {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 2.5rem;
        }
    }

    &__link {
        &:link, &:visited {
            color: $color-grey;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
            transition: all .2s;
        }

        &:hover, &:active {
            color: $color-primary-light;
            box-shadow: 0 1rem 2rem rgba($color-black, .4);
            transform: rotate(-2deg) scale(1.3);
        }
    }
}