.secondary-header {
    background-blend-mode: multiply;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-black, 0.6),
        rgba(#26524F, 0.6)),
        url(../img/header.jpg);
    background-size: cover;
    background-position: top;
    margin-bottom: -20rem;

    height: 45vh;

    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 35vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 35vh, 0 100%);
    }
}